.passwordbox-open {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
  background: url('images/passwordbox_open.png') no-repeat center center;
}
.passwordbox-close {
  background: url('images/passwordbox_close.png') no-repeat center center;
<<<<<<< HEAD
=======
    background: url('images/passwordbox_open.png') no-repeat center center;
}

.passwordbox-close {
    background: url('images/passwordbox_close.png') no-repeat center center;
>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
}
