.propertygrid .datagrid-view1 .datagrid-body td {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
  padding-bottom: 1px;
  border-width: 0 1px 0 0;
}
.propertygrid .datagrid-group {
  height: 21px;
  overflow: hidden;
  border-width: 0 0 1px 0;
  border-style: solid;
}
.propertygrid .datagrid-group span {
  font-weight: bold;
}
.propertygrid .datagrid-view1 .datagrid-body td {
  border-color: #ddd;
}
.propertygrid .datagrid-view1 .datagrid-group {
  border-color: #f3f3f3;
}
.propertygrid .datagrid-view2 .datagrid-group {
  border-color: #ddd;
}
<<<<<<< HEAD
=======
    padding-bottom: 1px;
    border-width: 0 1px 0 0;
}

.propertygrid .datagrid-group {
    height: 21px;
    overflow: hidden;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.propertygrid .datagrid-group span {
    font-weight: bold;
}

.propertygrid .datagrid-view1 .datagrid-body td {
    border-color: #ddd;
}

.propertygrid .datagrid-view1 .datagrid-group {
    border-color: #f3f3f3;
}

.propertygrid .datagrid-view2 .datagrid-group {
    border-color: #ddd;
}

>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
.propertygrid .datagrid-group,
.propertygrid .datagrid-view1 .datagrid-body,
.propertygrid .datagrid-view1 .datagrid-row-over,
.propertygrid .datagrid-view1 .datagrid-row-selected {
<<<<<<< HEAD
<<<<<<< HEAD
  background: #f3f3f3;
=======
    background: #f3f3f3;
>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
=======
  background: #f3f3f3;
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
}
