@charset "utf-8";
/* CSS Document */
html{ color:#5c5c5c; font-family:Arial,"微软雅黑", Helvetica, sans-serif; font-size:14px; height: 100%; width: 100%; -ms-text-size-adjust: none; overflow-x:hidden; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a,select,option
{   list-style-type:none;
	margin: 0;
	padding: 0;
	border-width: 0;
}

a{  color:#5c5c5c;
	cursor:pointer;  
    text-decoration:none;  
    hide-focus: expression(this.hideFocus=true);  
    outline:none;  
	}

img
{
	border: 0;
}
em,i { font-style:normal;}
img { border:0;}
a {text-decoration:none;}
ol,ul,li{list-style:none; list-style-type:none; }
a:focus { outline:none; } 
body{ position:relative; }

/*页面头部样式*/
.header { background-color: #83c326; border-bottom: #eee solid 2px; height: 60px; position: fixed; top: 0; left: 0; min-width: 1200px; width: 100% !important; z-index: 9999; }

.logo { background:url(../images/logo.png) center no-repeat; float: left; height: 60px; width: 200px; }

.logo a { display: block; height: 50px; margin: 5px 10px; text-indent: -9999em; width: 180px; }

.top-nav { float: right; height: 60px; width: auto; }

.top-nav li { float: left; height: 60px; line-height: 60px; margin-right: 20px; }

.top-nav li a,.top-nav li span { color: #fff; }

.top-nav li.messege a span.messegeNum { background-color: #fe6700; font-family: Arial, Helvetica, sans-serif; padding: 0 6px; }

.top-nav li.chat span.fa { font-size: 18px; padding-left: 5px; }

.top-nav li.user { background-color: #77bb21; position: relative; width: 200px; z-index:999; }

.top-nav li.user span { cursor: pointer; display: block; float: left; height: 60px; line-height: 60px; }

.top-nav li.user span.userPhoto { margin-left: 10px;  position: relative; width: 30px; }

.top-nav li.user span.userPhoto label { background:url(../images/photo-border.png) center no-repeat; display: block; height: 30px; position: absolute; text-indent: -9999em; top: 15px; right: 0; width: 30px; z-index: 2; }

.top-nav li.user span.userPhoto img { display: block; height: 30px; margin-top: 15px; position: relative; width: 30px;  }

.top-nav li.user span.userName { height: 40px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 10px; width: 120px; }

.top-nav li.user span.fa { padding: 0 6px; } 

.am-dropdown-content { background-color: #fff; border: #dedede solid 1px; border-radius: 3px; display: none; height: auto; margin-top: 60px; position: relative; width: 200px; }

.am-dropdown-content dt { height: 5px; line-height: 5px; left: 20px; position: absolute; top: -10px; width: 10px; z-index: 2; }

.am-dropdown-content dt i { color: #fff;}

.am-dropdown-content dd { height: 35px; width: 100%; }

.top-nav li.user dl.am-dropdown-content dd a { color: #999; display: block; height: 30px; line-height: 30px; margin-top: 5px; padding-left: 10px;  }

.top-nav li.user dl.am-dropdown-content dd span{ color: #666; display: inline; float: none; height: 30px; line-height: 30px; }

.top-nav li.user dl.am-dropdown-content dd a:hover { background-color: #f1f1f1; }

/*主体内容区域样式*/
.main { height: 100%; padding-top: 62px; width: 100%; }

/*左侧主导航样式*/
.navbg { background-color: #fafafa; border-right: #dedede solid 1px; height:100%; position:fixed; left:0; bottom:0; width:240px; z-index:-1; }

.nav { height: auto; left: 0; position: absolute; top: 62px; width: 240px; z-index: 998; }

.nav ul.am-list { height: auto; width: 100%; }

.nav ul.am-list li { background-color: #fff; border-bottom: #dedede solid 1px; width: 100%; }

.nav ul.am-list li a { color: #5c5c5c; display: block; height: 45px; line-height: 45px; width: 100%; }

.nav ul.am-list li a i { margin: 0 8px 0 25px; }

.nav ul.am-list li a span { float: right; line-height: 45px;  margin-right: 10px; }

.nav ul.am-list li.nav-parent ul.children { border-top: #dedede solid 1px; }

.nav ul.am-list li.nav-parent ul.children li a,.nav ul.am-list li.nav-parent ul.children li{border-bottom:0px;}

.nav ul.am-list li.nav-parent ul.children { /*background-color: #f3f3f3;*/ height: auto; padding-left: 35px; width: 205px; }

.nav ul.am-list li a:hover , .nav ul.am-list li a.active { color: #01793b; }

.nav ul.am-list li.active a , .nav ul.am-list li.active a:hover { color: #fe6700; }

.nav ul.am-list li.nav-parent ul.children li a{height:30px;line-height:30px;}

/*右侧内容区域样式*/
.content { height: auto; padding-left: 241px; position: relative; min-width: 940px; }

.content h2.title { background-color: #f3f3f3; border-bottom: #dedede solid 1px; color: #fe6700; font-size: 18px; height: 45px; line-height: 40px; padding-left: 20px; position: relative;  }

.content h2.title i.fa-user-plus { border: #83c326 solid 2px; border-radius: 100%; color: #83c326; padding: 6px 5px; font-weight: normal; margin-right: 10px; }

.content h2.title span { color: #999; display: block; font-size: 12px; font-weight: normal; height: 45px; line-height: 45px; position: absolute; top: 0; right: 20px; }

.content h2.title span a { color: #999; }

.content h2.title span label { color: #01793b; }

/*用户基本信息*/
.userInfo { height: 106px; margin: 20px 0; padding-left: 20px; }

.userInfo a.company { border: #dedede solid 3px; border-radius: 5px; margin: 10px 0px; display: block; float: left; height: 80px; width: 240px; }

.userInfo a.company img { height: 100%; width: 100%; }

.comName { border-right: #dedede dashed 1px; float: left; height: 100%; padding: 0 60px 0 10px; width: auto; }

.comName li,.amInfo li { height: 30px; line-height: 30px; }

.comName li span, .amInfo li span { padding-right: 5px; }

.comName li b { color: #83c326; padding-right: 10px; }

.comName li strong { color: #fe6700; font-family: Arial, Helvetica, sans-serif; }

.comName li label,.comName li em { border-radius: 3px; color: #fff; padding: 0 3px; }

.comName li label { background-color: #f97e80; margin-right: 30px; } .comName li em { background-color: #7cafe8; }

.comName li a { margin-right: 30px; } .comName li a:hover { color: #f97e80; }

.comName li a i { color: #fe6700; margin-right: 5px; }

.amInfo { float: left; height: 100%; padding-left: 30px; width: auto; }

.amInfo li b , .amInfo li strong { color: #83c326; padding-right: 30px; } 

.amInfo li strong , .amInfo li label , .process li a span{ font-family: Arial, Helvetica, sans-serif; }

.amInfo li label { color: #999; }

/*流程样式*/
.process { display: block; height: 100px; margin: 30px 0; padding: 0 20px; }

.process li { background:url(../images/liuc.gif) center right no-repeat; float: left; height: 100px; width: 20%; }

.process li.process4 { background: none; }

.process li a{ display: block; height: 60px; margin-left: 10px; padding: 20px 0; width: 180px; }

.process li.process0 a { margin-left: 0; }

.process li a i { background-color: #83c326; border-radius: 100%; color: #fff; display: block; float: left; font-size: 32px; height: 60px; line-height: 60px; text-align: center; width: 60px; }

.process li a:hover i { background-color: #FE6700;  }

.process li a label { color: #FE6700; display: block; float: left; font-size: 15px; font-weight: bold; line-height: 20px; margin-top: 10px; }

.process li a label span { color: #01793b; font-family: alphanum20; padding-right: 5px; }

.process li a em { color: #999; display: block; float: left; line-height: 20px; }


/*信息完整度样式*/
.fourbtn { border: #dedede solid 1px; clear: both; display: block; height: 120px; margin: 20px; padding: 10px 20px; }

.fourbtn li { float: left; height: 100%; width: 25%; }

.fourbtn li a { border-right: #dedede solid 1px; display: block; height: 100%; text-align: center; }

.fourbtn li.lastbtn a { border-right: none; }

.fourbtn li i , .fourbtn li span , .fourbtn li em { display: block; }

.fourbtn li span { font-size: 15px; line-height: 26px; margin-top: 10px; }

.fourbtn li em { color: #fe6700; line-height: 24px; } .fourbtn li em  b { color: #01793b; font-family: Arial, Helvetica, sans-serif; }

.fourbtn li i { background-color: #eee; border-radius: 100%; font-size: 24px; height: 50px; line-height: 50px; margin: auto;  width: 50px; }

.fourbtn li a:hover i { background-color: #83c326; color: #fff; }  .fourbtn li a:hover span { color: #01793b; }


/*-------------------------------------------------- 内页样式 -------------------------------------------------*/
.pagecon { box-sizing: border-box; height: auto; padding: 20px; width: 100%; }

/*企业信息*/
ul.comInfor { border-top: #dedede solid 1px; }

ul.comInfor li , 
ul.comCredit li { background-color: #f5f5f5; float: left; height: 40px; line-height: 40px; padding-top: 10px; width: 50%; }

ul.comInfor li span , 
ul.comCredit li span , 
.account li span , 
.add-form li span { display: inline-block; letter-spacing: 1px; padding-right: 10px; text-align: right; width: 140px; }

ul.comInfor li span i{ color: #ff0000; vertical-align: middle; padding-right: 5px; }

ul.comInfor li input.txt , 
ul.comCredit li input.txt , 
.account li input , 
.add-form li input { border: #999 dotted 1px; border-radius: 5px; color: #333; font-family: "微软雅黑"; height:24px; line-height: 24px; text-indent: 0.2em;
						   vertical-align: middle; width: 250px; }

ul.comInfor li.address , 
ul.comInfor li.tenet , 
ul.comInfor li.comLogo ,
ul.comInfor li.advantage { clear: both; width: 100%; }

ul.comInfor li.address select { border: #dedede dotted 1px; color: #333; font-family: "微软雅黑"; height: 26px; margin-right: 10px; }

ul.comInfor li.tenet input.txt { width: 600px; }

ul.comInfor li.comLogo { height: 60px; line-height: 60px; vertical-align: middle; }

ul.comInfor li.comLogo span , ul.comInfor li.comLogo input , ul.comInfor li.comLogo img , ul.comInfor li.comLogo a ,
.add-form li.last-txt span , .add-form li.last-txt input , .add-form li.last-txt img , .add-form li.last-txt a{ float: left; }

ul.comInfor li.comLogo input , 
.add-form li.last-txt input { margin: 16px 10px 0 0; }

ul.comInfor li.comLogo img , 
.add-form li.last-txt img { border: #ccc dotted 1px; border-radius: 5px; height: 50px; padding: 4px; width: 150px; }

ul.comInfor li.comLogo img , ul.comInfor li.comLogo a , 
.add-form li.last-txt img , .add-form li.last-txt a { margin-right: 10px; }

ul.comInfor li.comLogo a i , 
.add-form li.last-txt a i { font-size: 18px;  margin-right: 5px; }

ul.comInfor li.comLogo a , ul.comInfor li.comLogo em b , 
.add-form li.last-txt a , .add-form li.last-txt em b { color: #FE6700; }  

ul.comInfor li.comLogo a:hover , 
.add-form li.last-txt a:hover { color: #01793B; }

ul.comInfor li.comLogo em , 
.add-form li.last-txt em { color: #999; } 

ul.comInfor li.advantage { border-bottom: #dedede solid 2px; height: auto; padding-bottom: 10px; }

ul.comInfor li.advantage span { display: block; float: left; height: 90px; }

ul.comInfor li.advantage label{ padding:0 30px 0 0;  } ul.comInfor li.advantage label input { margin-right: 5px; }

.textInfo { clear: both; height: 300px; padding-top: 20px; position: relative; width: 100%; }

h3.text-title{ background-color: #f5f5f5; border-right: #eee solid 2px; color: #FE6700; font-size: 16px; height: 299px; line-height: 299px; position: absolute; left: 1px; top: 21px; text-align: center; width: 150px; }

div.text { background-color: #f5f5f5; border: #dedede solid 2px; height: 298px; padding-left: 153px; }

div.text textarea{ font-family: "微软雅黑"; font-size: 14px; height: 100%; resize: none; width: 100%; }

.batchbtn,
.btn , 
.cre-btn { clear: both; height: 50px; padding-top: 10px; width: 100%; }
.btn3{background-color: #01793B; border-radius: 3px; color: #fff; cursor: pointer; font-family: "微软雅黑";padding:0px 10px;}
.batchbtn button,
.btn button ,
.cre-btn button { background-color: #fe6700; border-radius: 3px; color: #fff; cursor: pointer; font-family: "微软雅黑"; height: 40px;
			 letter-spacing: 1px; margin-left: 152px; padding: 0 20px;}

/*企业资信 */
h3.notice { border-bottom: #dedede solid 1px; color: #FF4A00; font-size: 15px; font-weight: 400; height: 30px; line-height: 30px; letter-spacing: 1px; }

h3.notice i { color: #83C326; font-size: 18px; margin-right: 5px; }		 

ul.comCredit li.cre-last , 
.account li.cre-last { border-bottom: #dedede solid 2px; clear: both; padding-bottom: 10px; width: 100%; }

ul.comCredit li span { width: 170px; } .cre-btn button { margin-left: 0; }

/*企业认证*/
.top-btn { height: 40px; line-height: 40px; letter-spacing: 1px; margin-bottom: 10px; }

.top-btn div.abtn {  background-color: #f1f1f1; border: #D9D9D9 solid 1px; float: left; height: 30px; line-height: 30px; margin: 5px 0; }

.top-btn div.search { float: right; position: relative; height: 30px; line-height: 30px; margin: 5px 0; }

.top-btn a { border-right: #fff dotted 1px; color: #444; display: block; float: left; font-size: 13px; height: 30px; padding: 0 10px; }

.top-btn a.last-btn { border-right: none; }

.top-btn a i , .top-btn a b { color: #FE6700;  margin-right: 5px; }.top-btn a b { font-family: Arial, Helvetica, sans-serif; padding: 0 3px; }

.top-btn a:hover { background-color: #fafafa; color: #83C326;  }

.top-btn a.nowpage , .top-btn a.nowpage:hover { background-color: #fafafa; color: #01793B; }

.search input { border: #dedede dotted 1px; border-radius: 3px; font-family: "微软雅黑"; height: 24px; line-height: 24px; position: absolute; right: 0; top: 2px; width: 250px; }

.search button { background-color: #dedede; border-radius: 0 3px 3px 0; display: block; height: 24px; line-height: 24px; position: absolute; right: 1px; top: 3px; text-align: center; width: 24px; z-index: 999;  }

.search button i { color: #FE6700; }

.tabel { clear: both; display: block; height: auto; width: 100%; }

.tabel li { border-bottom: #ddd solid 1px; height: 40px; width: 100%; }

.tabel li.tabletit { border-width: 0 0 2px 0; height: 30px; line-height: 30px; } 

.tabel li.tabletit span { font-size: 15px; font-weight: bold; line-height: 30px; letter-spacing: 1px; }

.tabel li span { display: block; float: left; line-height: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 16.66%;  }

.tabel li span input { vertical-align: middle; margin: 0 10px; }

.tabel li span.date { font-family: Arial, Helvetica, sans-serif; }

.tabel li span.cerPhoto a { background-color: #f9f9f9; border-radius: 3px; height: 30px; margin-top: 2px; padding: 2px; width: 90px; }

.tabel li span.cerPhoto a img { height: 30px; width: 90px; }

.tabel li span a { background-color: #E6E6E6; border: #D9D9D9 dotted 1px; display: inline-block; height: 24px; margin-top: 6px; text-align: center; vertical-align: middle; width: 24px; }

.tabel li span a i { color: #01793B; font-size: 18px; line-height: 24px; vertical-align: middle; }

.tabel li span a:hover { background-color: #fafafa; }

.tabel li span a:hover i { color: #83C326; }

.pagination{ padding: 15px 0; text-align: center; width: 100%; }

.pagination a, .pagination span { background-color: #FFF; border: 1px solid #dedede; color: #666; display:inline-block; font-family: Arial, Helvetica, sans-serif; margin: 0 5px 5px 0; min-width: 1em; padding: 0.3em 0.5em; text-align: center; }

.pagination .current { background-color: #01793b; border: 1px solid #01793b; color: #FFF; }

.pagination a:hover { border: 1px solid #83c326; color: #01793b; }

.pagination span.pagetotal, .pagination span.more { border: none; }

/*添加企业证书*/
.add-form li , .account li  { background-color: #f5f5f5; box-sizing: border-box; height: 60px; line-height: 60px; width: 100%; }

.add-form li i , .add-form li.last-txt span i { color: #ff0000; padding: 0 5px; vertical-align: middle; }

.add-form li.last-txt { border-bottom: #dedede solid 2px; height: 70px; }

.add-form li.last-txt i {color: #FE6700; padding: 0 0; }

/*添加企业展示图*/
.add-form li.pic-txt { border-bottom: #dedede solid 2px; clear: both; line-height: 200px; margin-top: -2px; height: 200px; width: 100%;  }

.add-form li.pic-txt span { float: left; }

.add-form li.pic-txt textarea { border: 1px dotted #dedede; border-radius: 5px; font-family: "微软雅黑"; font-size: 14px; height: 180px; padding: 5px; resize: none; width: 700px; }

/*账户管理*/
.account , .add-form { border-top: #dedede solid 1px; }

.account li { padding-left: 250px; }

.account li i { display: none; font-size: 18px; }

.account li i.fa-check , .tabel li span.order-number a:hover { color: #83C326; }

.account li i.fa-remove { color: #FE6700;  }



/*运单跟踪*/
.content h2.title i.fa-map-marker { border: #83c326 solid 2px; border-radius: 100%; color: #83c326; padding: 2px 6px; font-weight: normal; margin-right: 10px; }

.tabel li span.order-number { width: 24%  }

.tabel li span.operation { text-align: center; width: 9.36% }

.tabel li span.order-number a { background-color: transparent; border: none; color: #FE6700; height: auto; margin-top: 0; padding: 0; width: auto; }

.tabel li span.order-number a , .tabel li span.plates { font-family: Arial, Helvetica, sans-serif;  }

.track-form { border-top: #dedede solid 1px;  }

.track-form li { background-color: #f5f5f5; box-sizing: border-box; height: 40px; line-height: 40px; padding-left: 250px; width: 100%; }

.track-form li span { padding-right: 10px; }

.track-form li i { color: #ff0000; padding: 0 6px 0 5px; vertical-align: middle; }

.track-form li input { border: #dedede dotted 1px; border-radius: 3px; font-family: Arial, Helvetica, sans-serif; height: 24px; line-height: 24px; padding-left: 5px; vertical-align: middle; width: 220px; }

.track-form li.t-last { border-bottom: #dedede solid 2px; padding: 10px 0 10px 250px; height: 180px; line-height: 160px; width: 100%; }

.track-form li.t-last textarea { border: #dedede dotted 1px; border-radius: 3px; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; height: 160px; line-height: 24px; padding-left: 5px; resize: none; vertical-align: middle; width: 500px; }

.track-form li.t-last span { float: left; }

.track-form label { color: #FE6700; font-family: Arial, Helvetica, sans-serif; letter-spacing: 1px; padding-left: 5px; }

.track-form li select { border: #dedede dotted 1px; border-radius: 3px; font-family: "微软雅黑"; height: 26px; line-height: 26px; padding-left: 2px; vertical-align: middle; width: 120px; }

.waybillNum { height: auto; width: 100%; }

.waybillNum dt { background-color: #f5f5f5; border: #dedede solid 1px; height: 40px; width: 100%; }

.waybillNum dt span , 
.waybillNum dt label , 
.waybillNum dt em { display: block; height: 40px; line-height: 40px; }

.waybillNum dt span , 
.waybillNum dt label { float: left; }

.waybillNum dt span { color: #83C326; font-weight: bold; }

.waybillNum dt label , 
.waybillNum dd label { font-family: Arial, Helvetica, sans-serif; font-size: 15px; letter-spacing: 1px; vertical-align: middle; }

.waybillNum dt input {  margin: 0 5px 0 10px; vertical-align: middle; }

.waybillNum dt em { float: right; }

.waybillNum dt em a , 
.waybillNum dd a:hover , 
.driving-record li label a:hover { color: #FE6700; margin-right: 15px; }

.waybillNum dt em a i { margin-right: 5px; }

.waybillNum dt em a:hover , .driving-record li label a { color: #83C326; }

.waybillNum dd { height: 40px; line-height: 40px; width: 100%; }

.waybillNum dd input { margin: 0 5px 0 10px; vertical-align: middle; }

.waybillNum dd span { letter-spacing: 1px; }

.waybillNum dd a { color: #83C326; margin-left: 250px; letter-spacing: 1px; }

.waybillNum dd a i { margin-right: 5px; }

.driving-record { border-top: #dedede solid 2px; clear: both; margin-top: 10px;  }

.driving-record li { border-bottom: #ccc dotted 1px; height: 35px; line-height: 35px; width: 100%; }

.driving-record li span , 
.driving-record li label { box-sizing: border-box; display: block; float: left; padding-left: 10px; }

.driving-record li span { font-family: Arial, Helvetica, sans-serif; width: 30%; } .driving-record li label { width: 70%; }

.driving-record li.table-tit { background-color: #f5f5f5; font-weight: bold; }

.driving-record li label a { margin-left: 15px; }

/*运单号添加弹出层*/
.add-waybill { background-color: #fff; border: #01793B solid 1px; display: none; height: 120px; left: 50%; margin-left: -200px; position: fixed; top: 250px; width: 400px; z-index: 9999; }

.add-waybill h3 { background-color: #01793B; height: 30px; width: 100%; }

.add-waybill h3 span , 
.add-waybill h3 a { color: #fff; display: block; font-size: 14px; height: 30px; line-height: 30px; letter-spacing: 1px; margin: 0 5px; }

.add-waybill h3 span { float: left; }

.add-waybill h3 a { float: right; font-weight: 400; }

.add-waybill h3 a i { line-height: 30px; }

.add-waybill ul { padding: 10px; }

.add-waybill ul li { height: 26px; line-height: 26px; padding: 5px 0 4px 0; text-align: center; width: 100%; }

.add-waybill ul li input { border: #d5d5d5 dotted 1px; border-radius: 3px; font-family: Arial, Helvetica, sans-serif; height: 24px; padding-left: 5px;  
                           width: 373px; }

.add-waybill ul li button { background-color: #83C326; border-radius: 3px; color: #fff; font-family:"微软雅黑"; cursor: pointer; height: 26px; line-height: 26px; letter-spacing: 1px; margin-right: 20px; width: 80px; }

/*收到订单管理*/
.orderSearch { border-top: #dedede solid 1px; height: auto; width: 100%; }

.orderSearch li { background-color: #f5f5f5; float: left; height: 26px; line-height: 26px; padding: 10px 0; width: 50%; }

.orderSearch li span { box-sizing: border-box; display: inline-block; float: left; line-height: 26px; padding-right: 15px; text-align: right; width: 30%; }

.orderSearch li input { border: #ccc dotted 1px; border-radius: 3px; height: 24px; line-height: 24px; vertical-align: middle; width: 40%; }

.orderSearch li.searchBtn input { margin-right: 5px; width: auto; }

.orderSearch li input , .orderSearch li select { font-family:"微软雅黑"; padding-left: 5px; }

.orderSearch li select { width: 80px; }

.orderSearch li select { border: #ccc dotted 1px; border-radius: 3px; height: 24px; line-height: 24px; vertical-align: middle; }

.orderSearch li.logisticsRoute input { width: 20%; } .orderSearch li.logisticsRoute em { margin: 0 5px; }

.orderSearch li.closingDate , 
.orderSearch li.logisticsRoute , 
.orderSearch li.searchBtn { clear: both; float: none; width: 100%; }

.orderSearch li.closingDate span , 
.orderSearch li.logisticsRoute span { width: 15% }

.orderSearch li.closingDate input { margin: 0 5px; text-align: center; width: 10%; }

.orderSearch li.closingDate input.minute { width: 3%; }

.orderSearch li.closingDate select { width: 50px; }

.orderSearch li.closingDate i { color: #ff0000; cursor: pointer; margin-left: -20px; margin-right: 5px; }

.orderSearch li.OrderNum input , 
.orderSearch li.consigneePhone input , 
.orderSearch li.closingDate input { font-family: Arial, Helvetica, sans-serif; }

.orderSearch li.searchBtn { border-bottom: #dedede solid 2px; }

.orderSearch li.searchBtn button.sBtn { margin-left: 6%; } 

.orderSearch li.searchBtn button , .orderInfor div.confirmbtn button{ background-color: #FE6700; border-radius: 3px; color: #fff; cursor: pointer; font-family: "微软雅黑"; font-size:15px; height: 26px; margin-right: 20px; padding: 0 15px; }

/*订单列表*/
.orderlist , 
.Iorderlist { display: block; height: auto; padding-top: 20px; width: 100%; }

.orderlist dt , 
.Iorderlist dt { border: #dedede solid; border-width: 1px 0; background-color: #f5f5f5; height: 40px; line-height: 40px; width: 100%; }

.orderlist span , 
.Iorderlist span { display:block; float: left; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.orderlist input , .Iorderlist input { margin: 0 5px; vertical-align: middle; }

.orderlist dt span , 
.orderlist dd span.freight , 
.Iorderlist dt span , 
.Iorderlist dd span.freight { color: #FE6700; font-weight: bold; }

.orderlist dt span.orderline { text-align: left; width: 25%; } 

.orderlist dt span.shipper , .orderlist dt span.orderstatus , .orderlist dt span.freight , 
.orderlist dd span.shipper , .orderlist dd span.orderstatus , .orderlist dd span.freight { width: 10%; }

.orderlist dt span.ordername , .orderlist dt span.phone , .orderlist dt span.update , 
.orderlist dd span.ordername , .orderlist dd span.phone , .orderlist dd span.update { width: 12% }

.orderlist dt span.ordersremarks , 
.orderlist dd span.ordersremarks { width: 9%; }

.orderlist dt span.phone , .orderlist dt span.freight , .orderlist dt span.update , 
.orderlist dd span.phone , .orderlist dd span.freight , .orderlist dd span.update { font-family: Arial, Helvetica, sans-serif; }

.orderlist dd , .Iorderlist dd { background-color: #fafafa; border: #dedede dotted 1px; height: 125px; margin: 10px 0; }

.orderlist dd h3 , 
.Iorderlist dd h3 { border-bottom: #dedede solid 1px; color: #83C326; font-size: 14px; font-weight: 400; height: 30px; line-height: 30px; }

.orderlist dd h3 em , 
.Iorderlist dd h3 em { font-family: Arial, Helvetica, sans-serif; letter-spacing: 1px; margin: 0 20px 0 5px; }

.orderlist dd span , 
.Iorderlist dd span{ border-right: #dedede solid 1px; height: 84px; line-height: 84px; padding: 5px 0; }

.orderlist dd span.ordersremarks , .Iorderlist dd span.orderstatus { border: none; line-height: 28px; }

.orderlist dd span.orderline { text-align: left; text-indent: 0.5em; width: 24.1%; } 

.orderlist dd span.orderline a { line-height: 84px; }

.orderlist dd span.orderline a , 
.orderlist dd span.orderstatus a ,
.Iorderlist dd span.orderline a , 
.Iorderlist dd span.orderstatus a { color: #01793B; }

.orderlist dd span.orderline a:hover , 
.orderlist dd span.orderstatus a:hover , 
.orderlist dd span.ordersremarks a:hover { color: #83C326;  }

.orderlist dd span.orderstatus label , 
.Iorderlist dd span.orderstatus label { display: block; height: 28px; line-height: 28px; width: 100%;  }

.orderlist dd span.orderstatus label button , 
.Iorderlist dd span.orderstatus label button ,
.changeInfo div.confirmbtn button { background-color: #FE6700; border-radius: 2px; color: #fff; cursor: pointer; font-family: "微软雅黑"; height: 24px; padding: 0 10px; }

.orderlist dd span.ordersremarks label { display: block; height: 28px; line-height: 28px; margin-top: 14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;  } 

.orderlist dd span.ordersremarks a { color: #FE6700; }

/*订单确认弹出层样式*/
.order_confirm { background-color:rgba(0,0,0,0.5); display: none; filter : progid:DXImageTransform.Microsoft.Gradient ( enabled= 1 , startColorStr= #50000000, endColorStr= #50000000); height:100%; position:fixed; top:0; left:0; width:100%; z-index:999; }

.orderInfor { background-color: #fff; border: #01793B solid 1px; border-radius: 3px; box-shadow: #333 0 0 2px; height: 300px; left: 50%; margin:  -150px 0 0 -250px; overflow-x: hidden; overflow-y: scroll; position: relative; top: 50%; width: 500px; }

.orderInfor h3.tit { background-color: #01793B; border-radius: 3px 0; color: #fff; display: block; font-size: 14px; height: 30px; line-height: 30px; letter-spacing: 1px; padding: 0 10px; }

.orderInfor dl { border-bottom: #dedede solid 2px; margin: 10px 0; padding: 0 10px 10px 10px; }

.orderInfor dl dt , .orderInfor dl dd { border-bottom: #dedede dotted 1px; height: 35px; line-height: 35px; }

.orderInfor dl dd.orderNum { border: none; }

.orderInfor dl dt { color: #FE6700; font-weight: bold; }

.orderInfor dl dt span , .orderInfor dl dd.conPhone span , .orderInfor dl dd input { font-family: Arial, Helvetica, sans-serif; margin-left: 10px; }

.orderInfor dl dd span , .orderInfor dl dd input { color: #999; } 

.orderInfor dl dd input { border: #dedede dotted 1px; border-radius: 5px; height: 24px; line-height: 24px; padding-left: 2px; vertical-align: middle; width: 250px; }

.orderInfor dl dd input:focus { background-color: #FFF; border: 1px solid #FE6700; box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15); }

.orderInfor div.confirmbtn { height: 40px; text-align: center; width: 100%; }

.orderInfor div.confirmbtn button { border: #dedede dotted 1px; font-size: 14px; letter-spacing: 1px; }

/*发货订单详情*/
.order-sta-area{ height:100px; margin:20px 0; width:100%; }

ul.order-sta{ width:800px; }

ul.order-sta li{ color:#666; float:left; height:100px; width:200px; }

ul.order-sta li h3{ display:block; font-size:14px; height:18px; line-height:18px; text-align:center; width:100%; }

ul.order-sta li div{ background-color:#dbdbdb; border-radius:36px; color:#fff; float:left; font-size:20px; font-weight:bold; 
					font-family:Arial, Helvetica, sans-serif; height:36px; margin-top:6px; width:36px; }

ul.order-sta li div label{ display:block; border-radius:30px; height:26px; line-height:26px; margin:5px; text-align:center; width:26px; }

ul.order-sta li span{ background-color:#dbdbdb; border:#dbdbdb solid; border-width:2px 0; display:block; float:left; height:4px; margin-top:20px; width:82px; }

ul.order-sta li span.l-span,
ul.order-sta li span.r-span{ background-color:transparent; border:none; }

ul.order-sta li p{ clear:both; font-family:Arial, Helvetica, sans-serif; height:40px; line-height:40px; text-align:center; width:100%; }

ul.order-sta li.on h3 { color: #FE6700; }

ul.order-sta li.on div label,
ul.order-sta li.pre-on div label{ background-color: #83C326; }

ul.order-sta li.on span.show-l,
ul.order-sta li.pre-on span.show-l,
ul.order-sta li.on span.show-r,
ul.order-sta li.pre-on span.show-r,
ul.order-sta li.next-on span.show-l{ background-color: #83C326; }

.o-info { height: auto; width:100%; }

.o-info dl.order-information { border: #dedede solid 1px; float: left; height: auto; width: 300px; }

.o-info dl.order-information dt { background-color: #fafafa; border-bottom: #dedede solid 1px; font-weight: bold; height: 30px; line-height: 30px; padding-left: 5px; }

.o-info dl.order-information dd { line-height: 30px; padding: 0 5px; }

.o-info dl.order-information dd em { color: #999; display: block; float: left; width: 70px; }

.o-info dl.order-information dd p { display: block; float: left; width: 220px; line-height: 30px; }

.o-info dl.order-information dd.orderID p , 
.o-info dl.order-information dd.o-time p , 
.o-info dl.order-information dd.consign p , 
.o-info dl.order-information dd.con-phone p { font-family: Arial, Helvetica, sans-serif; }

.o-info dl.order-information dd.o-line p { color: #FE6700; }

.r-orderinfor { border-top: #dedede solid 1px; box-sizing: border-box; height: auto; padding-left: 322px; width: 100%; }

.r-orderinfor h3.o-sta { border-bottom: #dedede dotted 1px; font-size: 16px; font-weight: 400; height: 40px; line-height: 40px; }

.r-orderinfor h3.o-sta i { color: #FE6700; margin-right: 5px; }

.r-orderinfor h3 button { margin-left: 10px; }

.r-orderinfor ul { padding: 10px 0; }

.r-orderinfor ul li { color: #999; line-height: 30px; width: 100%; }

.r-orderinfor ul li span { color: #000; }

.r-orderinfor ul li input { border: #ccc dotted 1px; border-radius: 3px; height: 24px; line-height: 24px; vertical-align: middle; }

.r-orderinfor ul li.changeBtn { border-bottom: #dedede dotted 1px; padding: 5px 0; }

.r-orderinfor ul li.changeBtn button , .r-orderinfor h3 button { background-color: #FE6700; border-radius: 2px; color: #FFF; cursor: pointer; font-family: "微软雅黑"; font-size: 14px; height: 26px; line-height: 26px; margin-right: 5px; padding: 0 10px; }

.r-orderinfor ul li.changeBtn button { background-color: #83C326; }

.r-orderinfor div { border-top: #dedede solid 1px; height: 82px; padding: 10px 0; }

.r-orderinfor div input { border: #dedede dotted 1px; border-radius: 5px; display: block; float: left; font-family: "微软雅黑"; font-size: 14px; height: 24px; line-height: 24px; resize: none; width: 500px; }

.r-orderinfor div em { display: block; float: left; line-height: 26px; }


/*发出订单列表样式*/
.Iorderlist dt span { width: 16.66666%; } 

.Iorderlist dd span { width: 16.5%; }

.Iorderlist h3 { position: relative; }

.Iorderlist h3 a { position: absolute; right: 10px; top: 6px; }

.Iorderlist h3 a i { color: #999; font-size: 18px; }

.Iorderlist span.orderline { text-align: left; }

.Iorderlist dd span.orderline { text-indent: 0.5em; }

.Iorderlist dd span.freight , 
.Iorderlist dd span.phone , 
.Iorderlist dd span.update { font-family: Arial, Helvetica, sans-serif; }

/*路线管理列表样式*/
.lineList { height: auto; padding-top: 10px; width: 100%; }

.lineList tr { width: 100%; }

.lineList tr th , .lineList tr td { text-align: center; vertical-align: middle; }

.lineList tr th { border: #dedede solid; border-width: 1px 0; line-height: 36px; }

.lineList tr td { border-bottom: #dedede solid 1px;  line-height: 26px; }

.lineList tr th { color: #83C326; }

.lineList tr th input , .lineList tr td  input { margin: 0 5px; vertical-align: middle; }

.lineList tr th.line1 ,
.lineList tr td.line1 , 
.lineList tr th.line2 , 
.lineList tr td.line2 { text-align: left; width: 17%  }

.lineList tr th.line3 ,
.lineList tr td.line3 {  width: 14%; }

.lineList tr th.line4 ,
.lineList tr td.line4 { width: 8.4%; }

.lineList tr th.line5 ,
.lineList tr td.line5 { width: 10% }


.lineList tr td.line3 ,
.lineList tr td.line4 { color: #FE6700; font-family: Arial, Helvetica, sans-serif; }

.lineList tr td.line5 a i { font-size: 15px; }

.lineList tr td.line1 a , 
.lineList tr td.line5 a{ color: #01793B; } 

.lineList tr td.line1 a:hover ,
.lineList tr td.line5 a:hover { color: #FE6700; } 

/*路线添加表单样式*/
table.addarea , 
table.lineInfor{ background-color:#f6f6f6; border-spacing: 0px; border-collapse: collapse; margin-bottom: 20px; width:100%; }
table.addarea tr td.tl {background-color:#f3f3f3; }
.addarea tr th.ltit , 
.lineInfor tr th.ltit { border-right: #fff solid 1px; color: #83C326; text-align: right; padding-right: 10px; width: 100px; }

.addarea tr td , 
.lineInfor tr td , 
.lineInfor tr th.ltit  { line-height: 40px; }

.addarea tr td , 
.lineInfor tr td { padding-left: 5px; text-align: left; }

.addarea tr th i , 
.lineInfor tr th i { color: #ff0000; }

.addarea tr td input , 
.lineInfor tr td input {  border: 1px dotted #dedede; border-radius: 5px; font-family: "微软雅黑"; font-size: 14px; height: 24px; line-height: 24px; margin: 0 5px; vertical-align: middle; }

.addarea tr td input { width: 200px; }

.addarea tr td div { background-color: #fff; border: 1px dotted #dedede; border-radius: 5px; height: 24px; line-height: 24px; margin-top: 7px; padding-left: 2px; position:relative; width: 500px; }

.addarea tr td div i { position: absolute; top: 5px; right: 10px; }

.addarea tr td.inputTit { text-align: right; width: 100px; }

.addarea tr.contact td ,
.lineInfor tr td.aging , 
.lineInfor tr td.min-charge {border-bottom: 1px solid #fff; }

.lineInfor tr td { border-right: #fff solid 1px; }

.lineInfor tr td select { border: 1px dotted #dedede; font-family: "微软雅黑"; width: 100px; }

.lineInfor tr td.mainline input { min-width: 328px; }

.lineInfor tr td.min-charge input { width: 150px; }

.lineInfor tr td.price input , .lineInfor tr td.aging input { width: 60px; }

.lineInfor tr td.price ul li a { background-color: #FE6700; border: 1px dotted #dedede; border-radius: 2px; padding: 0 3px; }

.lineInfor tr td.price ul li a i { color: #fff; }

.lineInfor tr td.price { min-width: 328px; }

.lineInfor tr td.price div.addbtn { height: 40px; line-height: 40px; min-width: 328px;  }

.lineInfor tr td.price div.addbtn a { background-color: #FE6700; border: 1px dotted #dedede; border-radius: 2px; color: #fff; font-weight: bold; padding: 3px 10px; }

.lineInfor tr td.price div.addbtn a i { margin-right: 5px;}

.lineInfor tr td.timetable { border-top: 1px solid #fff; }

.lineInfor tr td.timetable span input { width: 100px; }

.lineInfor tr td.lineBtn { border-top: 1px solid #fff; padding: 10px 111px; }

.lineInfor tr td.lineBtn button {  background-color: #FE6700; border: 1px dotted #dedede; border-radius: 2px; color: #FFF; cursor: pointer; font-family: "微软雅黑"; font-size: 14px; height: 26px; line-height: 24px; margin-right: 10px; padding: 0 20px; }

/*提送货管理页面样式*/
.lineNotice { border: #dedede solid 1px; height: auto; padding: 5px 5px 10px 5px; }

.lineNotice h3 { color: #FE6700; font-size: 14px; line-height: 30px; }

.lineNotice span { font-weight: bold; margin-right: 10px; }

.lineNotice span a { color: #FE6700; font-weight: 400; margin: 5px 3px; }

.lineNotice span a:hover , table.tsh-tabel tr td a:hover { color: #83C326; text-decoration: underline; }

table.tsh-tabel { border-spacing: 0px; border-collapse: collapse; margin-top: 10px; width:100%; }

table.tsh-tabel tr th { background-color: #fafafa; color: #83C326; border: #dedede solid 1px; line-height: 30px; }

table.tsh-tabel tr th p span { font-family: Arial, Helvetica, sans-serif; }

table.tsh-tabel tr td { border: #dedede solid 1px; line-height: 30px; }

table.tsh-tabel tr td a i { margin-right: 5px; }

table.tsh-tabel tr td a { color: #FE6700; }



/*修改报价范围*/
.changeInfo { background-color: #fff; border: #01793B solid 1px; border-radius: 3px; box-shadow: #333 0 0 2px; height: 170px; left: 50%; margin:  -85px 0 0 -250px; position: relative; top: 50%; width: 500px; }

.changeInfo h3.tit { background-color: #01793B; border-radius: 3px 3px 0 0; color: #fff; display: block; font-size: 14px; height: 30px; line-height: 30px; letter-spacing: 1px; padding: 0 10px; text-align: center; }

.changeInfo ul { height: 72px; padding: 10px 20px; }

.changeInfo ul li { line-height: 36px; height: 36px; text-align: center; }

.changeInfo ul li label input { border: #ccc dotted 1px; border-radius: 3px; height: 24px; line-height: 24px; margin: 0 5px; text-align: center; vertical-align: middle; width: 80px; }

.changeInfo ul li label , 
.changeInfo ul li label input { font-family: Arial, Helvetica, sans-serif; }

.changeInfo ul li input:focus { background-color: #FFF; border: 1px solid #FE6700; box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15); }

.changeInfo div.confirmbtn { height: 40px; text-align: center; width: 100%; }

.changeInfo div.confirmbtn button { border: #dedede dotted 1px; font-size: 14px; letter-spacing: 1px; margin-right: 20px; }

/*======================================== 旗舰店管理样式 ========================================*/
.content h2.title i.fa-lightbulb-o { border: #83c326 solid 2px; border-radius: 100%; color: #83c326; padding: 2px 6px; font-weight: normal; margin-right: 10px; }

/*设置*/
table.settable{ border-spacing: 0px; border-collapse: collapse; margin-bottom: 20px; width:100%; }

table.settable tr th { background-color: #fafafa; color: #83C326; border-bottom: #fff solid 1px; line-height: 30px; padding: 5px 10px; text-align: right; width: 150px; }

table.settable tr td { border-left: 1px #fff solid; background-color: #f6f6f6; padding-left: 10px; }

table.settable tr td input.txt { width: 250px; }

table.settable tr td input.txt2 { margin: 0 5px; text-align: center; width: 80px; }

table.settable tr td input.txt ,
table.settable tr td input.txt2 { border: #ccc dotted 1px; border-radius: 5px; font-family: Arial, Helvetica, sans-serif; height: 24px; line-height: 24px; vertical-align:middle; }

table.settable tr td a{ margin: 0 5px; color: #FE6700; }

table.settable tr td a i { color: #01793B; }

table.settable tr.imglist td { padding-left: 0; }

table.settable tr.imglist td table { border-spacing: 0px; border-collapse: collapse; width:100%; }

table.settable tr.imglist td table tr th { }

table.settable tr.imglist td table tr td { padding-left: 10px; }

table.settable tr.btntr td { border-top: #fff solid 2px; line-height: 40px; padding-left: 170px; }

table.settable tr.btntr td a { background-color: #FE6700; border-radius: 5px; color: #fff; margin-right: 20px; padding: 2px 15px; }




/*模版设置*/
.demotit { color: #83C326; display: block; font-size: 14px; line-height: 50px; width: 100%;  }

.domolist li { background-color: #fafafa; float: left; height: 216px; margin: 10px 10px 0 0; width: 290px; }

.domolist li span , .domolist li label , .domolist li h3 { display: block; width: 100%; }

.domolist li span { border: #dedede solid 1px; height: 144px; width: 288px; }

.domolist li span a img { height: 100%; width: 100%; }

.domolist li h3 { font-size: 14px; }

.domolist li label , 
.domolist li h3 , 
.domolist li div.usingBtn { line-height: 24px; text-align: center; }

.domolist li div.usingBtn a { color: #FE6700; margin: 0 5px; }

.domolist li div.usingBtn i { color: #999; margin: 0 5px; }

/*新闻列表*/
.newsList { border-spacing: 0px; border-collapse: collapse; margin-bottom: 20px; width:100%; } 

.newsList tr { width: 100%; }

.newsList tr th { border-style: solid; border-color: #DEDEDE; border-width: 1px 0px; color: #83C326; line-height: 36px; }

.newsList tr td { border-bottom: #dedede solid 1px;  line-height: 40px; }

.newsList tr th input , .newsList tr td  input { margin: 0 5px; vertical-align: middle; }

.newsList tr th , 
.newsList tr td { text-align: center; vertical-align: middle; }

.newsList tr th.line1 ,
.newsList tr td.line1 , 
.newsList tr th.line2 , 
.newsList tr td.line2 { text-align: left; }

.newsList tr td.line3 , 
.newsList tr td.line4 { color: #FE6700; font-family: Arial, Helvetica, sans-serif; }

.newsList tr td.line2 a , 
.newsList tr td.line5 a{ color: #01793B; } 

.newsList tr td.line2 a:hover ,
.newsList tr td.line5 a:hover { color: #FE6700; }

/*添加新闻*/
.newsadd { border-spacing: 0px; border-collapse: collapse; margin-bottom: 20px; width:100%; }

.newsadd tr th { background-color: #f5f5f5; border-bottom: #fff solid 1px; color: #83C326; line-height: 40px; padding-right: 10px; text-align: right; width: 110px; }

.newsadd tr th i { color: #ff0000; margin: 0 5px; vertical-align: middle; }

.newsadd tr td { background-color: #fafafa; padding-left: 10px; }

.newsadd tr td input { border: #ccc dotted 1px; border-radius: 5px; height: 24px; line-height: 24px; vertical-align: middle; }

.newsadd tr td input.newstit { font-family: "微软雅黑"; width: 380px; }

.newsadd tr td input.newstime { font-family: Arial, Helvetica, sans-serif; width: 130px; }

table.newsadd tr.btntr td { background-color: #f5f5f5; border-top: #fff solid 2px; line-height: 40px; padding-left: 170px; }

.newsadd tr td div.addtxt { height: 300px; width: 100%; }

.newsadd tr td div.addtxt textarea { font-family: "微软雅黑"; height: 300px; resize: none; width: 100%; }

.newsadd tr td select { font-family: "微软雅黑"; border: #ccc dotted 1px; border-radius: 5px 0 0 5px; width: 150px; }

table.newsadd tr.btntr td button { background-color: #FE6700; border-radius: 5px; color: #fff; cursor: pointer; font-family: "微软雅黑"; margin-right: 20px; padding: 2px 15px; }

.newsadd tr td span.ts { margin-left: 5px; color:#999; }

/**头部导航**/
ul.top-main { display: block; float: left; line-height: 60px; margin-left: 40px; top: 0; }
ul.top-main li {  float: left; line-height: 59px; padding: 0 10px; } 
ul.top-main li a { color: #fff;font-size:16px; }
ul.top-main li a:hover { color: #FE6700;}
ul.top-main li:hover { background:#77bb21; color:#fff;}
.top-main .on{ background:#77bb21; }

/*========================================================= 访问量统计页面 =========================================================*/
.tongji { font-size: 14px; font-weight: bold; height: 40px; line-height: 40px; }

.tongji span { color: #FE6700; font-family: Arial, Helvetica, sans-serif; padding-right: 50px; }

table.tj-tab { border-spacing: 0px; border-collapse: collapse; width:100%; }

table.tj-tab tr th , table.tj-tab tr td { border: #eee solid 1px; font-size: 14px; height: 40px; line-height: 40px; position: relative; text-align: center; }

table.tj-tab tr th { color: #83C326; }

table.tj-tab tr th:after { background-color: #EEE; bottom: 1px; content: ""; display: block; height: 1px; left: 0px; position: absolute; right: 0px; }

table.tj-tab tr td { color: #999; }

table.tj-tab tr td a { color: #FE6700; }table.tj-tab tr td a:hover{ color: #77bb21; text-decoration: underline; }
ul.top-main li:hover {background:#77bb21;color:#fff;}
.top-main .on{background:#77bb21;}

/*20150819 路线添加页面修改样式*/
.content h2.title i.fa-send { border: #83c326 solid 2px; border-radius: 100%; color: #83c326; padding: 4px 4px; font-weight: normal; margin-right: 10px; }

.address-choose div {  box-sizing: border-box; float: left; padding-bottom: 10px; width: 50%; }

.address-choose div.start-addr { padding-right: 10px; } .address-choose div.end-addr { padding-left: 10px; }

.address-choose dl { background-color: #f3f3f3;  padding: 20px; }

.address-choose dl dt , .address-choose dl dd { width: 100%; }

.address-choose dl dt { border-bottom: 2px solid #fff; color: #83C326; font-size: 15px; font-weight: 700; letter-spacing: 1px; padding: 0 0 10px; }

.address-choose dl dt i { color: #FE6700; font-size: 24px; padding-right: 5px; }

.address-choose dl dd  { padding-top: 10px; }

.address-choose dl dd span , .address-choose dl dd label { color: #333; display: block; font-size: 14px; margin-bottom: 5px; position: relative; width: 100%;  }
 
.address-choose dl dd label input , .address-choose dl dd label input { background-color: #fff; box-sizing: border-box; border: #dedede dotted 1px; border-radius: 3px; color: #666; display: block; 
 font-family:"微软雅黑"; font-size: 14px; height:28px; letter-spacing: 1px; line-height:28px; padding-left: 5px; width: 100%; }
 
.address-choose dl dd label.add-choose:after { background-color: #eee; border-radius: 0 3px 3px 0; content: ""; cursor: pointer; font-family: "FontAwesome"; height: 26px; line-height: 26px; position: absolute; right: 1px; top: 1px; transform: rotate(0deg); transition: all 150ms ease-in-out 0s; text-align: center; width: 26px; }
.address-choose dl dd label.end-infor:after { background-color: #eee; border-radius: 0 3px 3px 0; content: ""; cursor: pointer; font-family: "FontAwesome"; height: 26px; line-height: 26px; position: absolute; right: 1px; top: 1px; transform: rotate(0deg); transition: all 150ms ease-in-out 0s; text-align: center; width: 26px; }
  
.address-choose dl dd span i { color: #F30;  padding-right: 5px; }

/*地区选择框样式div.choose-area*/
.add-choose , .end-infor { z-index: 999; }

div.area-con { background-color: #fff; border-style: dotted; border-color: #dedede; border-width: 0 1px 1px; border-radius: 3px 3px 0 0; padding: 10px;
							   position: absolute; top: 28px; width: 521px; z-index: 999; }

div.area-con { width: 100%; }

div.area-con ul li { float: left; height: 30px; width: auto; }	

div.area-con ul li a { border: none; display: block; height: 30px; line-height: 30px; margin-right: 10px;  }

div.area-con ul li a:after { display: none; }	

div.area-con ul li a input { border: none; display: inline; line-height: 30px; margin-right: 5px; vertical-align: middle; width: auto; }		   

/*线路信息样式*/ 
table.lineInfor { background-color: #f3f3f3; clear: both; }

table.lineInfor tr th.line-title { border-bottom: 2px solid #fff; color: #83C326; font-size: 15px; font-weight: 700; letter-spacing: 1px; height: 36px; line-height: 36px; padding: 0 20px; text-align: left; }

table.lineInfor tr th.line-title i{  color: #FE6700; font-size: 24px; padding-right: 5px; }

table.lineInfor tr th.ltit { color: #333; font-size: 14px; font-weight: 400; }

table.lineInfor tr td input { padding-left: 5px; }

table.lineInfor tr.line-class th , table.lineInfor tr.line-class td { border-bottom: 2px solid #fff; }

table.end-addr-list { background-color: #f3f3f3; border-spacing: 0px; border-collapse: collapse; width:100%; }

table.end-addr-list tr td { border: #eee solid 1px; font-size: 14px; height: 40px; line-height: 40px; position: relative; text-align: center; }

table.end-addr-list tr td { color: #999; }

table.end-addr-list tr td button { background-color: #01793B; border-radius: 3px; cursor: pointer; display: inline-block; height: 24px; line-height: 24px; text-align: center; width: 24px; }

table.end-addr-list tr td button i { color: #fff; font-size: 16px; }

table.end-addr-list tr td button.adds-edtie { position: absolute; right: 10px; top: 8px; }

table.end-addr-list tr td.value-add { text-align: left; }

table.end-addr-list tr td.value-add b { color: #83C326; padding: 0 5px; }

table.end-addr-list tr td.value-add span { margin-left: 10px; }

table.end-addr-list tr td.value-add span input { margin-right: 3px; }

table.end-addr-list tr td.value-add span select {  color: #999;  font-family: Arial, Helvetica, sans-serif,"微软雅黑"; margin-left: 5px; border: #eee solid 1px; }


/*城市控件样式*/
.inp_grey { border:1px solid #dcdcdc; height:30px; line-height:30px; color:#b6b6b6; font-size:14px; padding-left:8px}
.select_more { border:1px solid #dcdcdc; height:30px; line-height:30px; color:#b6b6b6; font-size:14px; width:308px; position:relative;  background:#fff }
.select_more_list { width:400px; height:200px; border:1px solid #dcdcdc; background:#fff; position:absolute; top:30px; left:-1px}
.list_title { background:#83c326; height:30px; overflow:hidden}
.list_title a { display:block; float:left; color:#fff; width:90px; text-align:center; line-height:30px;}
.list_title a:hover,.list_title .list_title_active { background:#fff; color:#1aa950}
.list_con { height:170px; overflow-y:auto}
.list_con a { display:block; float:left; width:85px; color:#747474; padding-left:10px }
.list_con a:hover { background:#caefd8; }
.bubble-box {width: 200px; right: -165px;top:35px;left:88px; position: absolute;z-index: 100; display: none;}


/*========================================================= 访问量统计页面 =========================================================*/
.tongji { font-size: 14px; font-weight: bold; height: 40px; line-height: 40px; }

.tongji span { color: #FE6700; font-family: Arial, Helvetica, sans-serif; padding-right: 50px; }

table.tj-tab { border-spacing: 0px; border-collapse: collapse; width:100%; }

table.tj-tab tr th , table.tj-tab tr td { border: #eee solid 1px; font-size: 14px; height: 40px; line-height: 40px; position: relative; text-align: center; }

table.tj-tab tr th { color: #83C326; }

table.tj-tab tr th:after { background-color: #EEE; bottom: 1px; content: ""; display: block; height: 1px; left: 0px; position: absolute; right: 0px; }

table.tj-tab tr td { color: #999; }

table.tj-tab tr td a { color: #FE6700; }table.tj-tab tr td a:hover{ color: #77bb21; text-decoration: underline; }

/*===================================================== 20150925 VIP会员申请样式 =====================================================*/
.comName li a { margin-right: 10px; }

.comName { padding: 0px 23px 0px 10px; min-width: 320px; }

.amInfo { padding-left: 10px; width: 250px; }

.amInfo li b, .amInfo li strong { padding-right: 10px; }

a.Vmember i.vip-member { background: url(../images/vip.gif) center no-repeat; display: inline-block; height: 19px; vertical-align: middle; width: 16px; }

a.Vmember { color: #999; font-weight: bold; }

a.Vmember-go { color: #83C326; }

a.VIP { color: #f60; }

/*VIP申请层样式*/
.Vnoticebg { background-color:rgba(0,0,0,0.5); display: none; filter : progid:DXImageTransform.Microsoft.Gradient ( enabled= 1 , startColorStr= #50000000, endColorStr= #50000000); height:100%; position:fixed; top:0; left:0; width:100%; z-index:999; }

.notice2 { background-color: #fff; border: #ccc solid 1px; border-radius: 3px; box-shadow: #fff 0 0 2px; height: 250px; left: 50%; margin:  -125px 0 0 -250px; position: relative; top: 50%; width: 500px; }

h1.vip-icon { background: url(../images/vip.jpg) no-repeat; background-position: 200px 0; height: 150px; width: 100%; }

h1.vip-icon span { color: #f60; font-size: 24px; font-weight: 400; letter-spacing: 1px; line-height: 150px; padding-left: 60px; }

.click-btn { height: 36px; padding: 10px; width: 100%; }

.click-btn button{ background-color: #F30; border-radius: 3px; color: #fff; cursor: pointer; font-family: "微软雅黑"; height: 36px; letter-spacing: 1px; margin-left: 100px; padding: 0 20px; }

.click-btn button:hover{ background-color: #01793B; }

p.apply-notice { color: #ff0000; letter-spacing: 1px; line-height: 26px; text-align: center; width: 100%; }

