.combo-arrow {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
  width: 18px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.combo-arrow-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.combo-panel {
  overflow: auto;
}
.combo-arrow {
  background: url('images/combo_arrow.png') no-repeat center center;
}
.combo-panel {
  background-color: #ffffff;
}
.combo-arrow {
  background-color: #E0ECFF;
}
.combo-arrow-hover {
  background-color: #eaf2ff;
}
.combo-arrow:hover {
  background-color: #eaf2ff;
}
.combo .textbox-icon-disabled:hover {
  cursor: default;
<<<<<<< HEAD
=======
    width: 18px;
    height: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.combo-arrow-hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.combo-panel {
    overflow: auto;
}

.combo-arrow {
    background: url('images/combo_arrow.png') no-repeat center center;
}

.combo-panel {
    background-color: #ffffff;
}

.combo-arrow {
    background-color: #E0ECFF;
}

.combo-arrow-hover {
    background-color: #eaf2ff;
}

.combo-arrow:hover {
    background-color: #eaf2ff;
}

.combo .textbox-icon-disabled:hover {
    cursor: default;
>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
}
