<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script src="/js/easyui1.5/jquery.min.js"></script>
<link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
<script src="/js/bootstrap3/js/bootstrap.js"></script>

<link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
<script src="/js/bootstrap-table/bootstrap-table.js"></script>
<script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

<link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
<script src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/bootbox/bootbox.all.min.js"></script>
<script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
<link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">

<script src="/js/uploadify/jquery.uploadify.js"></script>
<link rel="stylesheet" href="/js/uploadify/uploadify.css">

<link rel="stylesheet" href="/js/layui-v2.4.5/layui/css/layui.css"  media="all">



<link rel="stylesheet" type="text/css" href="/js/kindeditor-4.1.10/themes/default/default.css" />
<script src="/js/kindeditor-4.1.10/kindeditor-min.js"></script>

<body>
<form id="formid">
    <table >
        <tr>
            <td><span id="sr4"></span>公司全称：</td>
            <td><br><input  type="text" name="gname" id="yh" onmousemove="yhh()" placeholder="请准确填写公司名称" >
                &nbsp &nbsp&nbsp&nbsp <span id="sr1"></span>
            </td>
        </tr>
        <tr>
            <td><span id="sr5"></span>公司简介：</td>
            <td><br><input  type="text" name="gjianjie" id="gs" onmousemove="jj()" placeholder="4或5个汉字" >
                &nbsp &nbsp&nbsp&nbsp <span id="sr2"></span>
            </td>
        </tr>
        <tr>
            <td><font color="red">*</font>接单电话：</td>
            <td><br><input  type="text" name="gphone" id="sf" onmousemove="sff()" placeholder="区域-号码" >
                &nbsp &nbsp&nbsp&nbsp
                <span id="sr3"></span>
            </td>
        </tr>
        <tr>
            <td><font color="red">*</font> 联系人：</td>
            <td><br><input  type="text" name="glianxi" placeholder="业务负责人" ></td>
        </tr>
        <tr>
            <td><font color="red">*</font> 官方网站：</td>
            <td><br><input  type="text" name="gcom" placeholder="www.love.com" ></td>
        </tr>
        <tr>
            <td><font color="red">*</font> 办公地址：</td>
            <td><br><input  type="text" name="gdizhi" placeholder="详细地址,精确到门牌号" ></td>
        </tr>
        <tr>
            <td><font color="red">*</font>LOGO：</td>
            <td><br><input type="file" id="butOne">
                <input type="hidden" id="imagea" name="glogo">
                <div id="showImgDiv" style="width: 150px;height: 150px;border-style:solid;border-width:1px; border-color:black;">
                    <img src="" id="testimg" style="width: 150px;height: 150px;"/>
                </div>
                <div id="showBars"></div><br>
            </td>
        </tr>

        <tr>
            <td><font color="red">*</font> 服务宗旨：</td>
            <td><input  type="text" name="gfuwu"  ></td>
        </tr>

        <tr>
            <td><font color="red">*</font> 公司介绍：</td>
            <td><br><textarea name="gjieshao"  id="textareaId" style="display: none"></textarea>
                <textarea id="content"></textarea></td>
        </tr>

        <tr>
            <td>优势服务行业：</td>
            <td>
                <input type="checkbox" value="1" name="gyoushi">普货
                <input type="checkbox" value="2" name="gyoushi">电子产品
                <input type="checkbox" value="3" name="gyoushi">冷链
                <input type="checkbox" value="4" name="gyoushi">机械设备
                <input type="checkbox" value="5" name="gyoushi">危险品
                <input type="checkbox" value="6" name="gyoushi">快消品
                <input type="checkbox" value="7" name="gyoushi">饮料
                <input type="checkbox" value="8" name="gyoushi">食品
                <input type="checkbox" value="9" name="gyoushi">服装
                <input type="checkbox" value="10" name="gyoushi">塑料制品
                <input type="checkbox" value="11" name="gyoushi">电器<br>
                <input type="checkbox" value="12" name="gyoushi">手机
                <input type="checkbox" value="13" name="gyoushi">布料
                <input type="checkbox" value="14" name="gyoushi">印刷品
                <input type="checkbox" value="15" name="gyoushi">建筑材料
                <input type="checkbox" value="16" name="gyoushi">家具
                <input type="checkbox" value="17" name="gyoushi">五金
                <input type="checkbox" value="18" name="gyoushi">汽车
                <input type="checkbox" value="19" name="gyoushi">大件物流
                <input type="checkbox" value="20" name="gyoushi">冷冻食品
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="button"  class="layui-btn layui-btn-warm layui-btn-radius "  value="保存" onclick="tj()">
                &nbsp当前资料完整度：<font color="#ff9966">80%
            </td>
        </tr>
    </table>

</form>

</body>

<script type="text/javascript">
    function tj(){


        $("#textareaId").val(editor.html());

        $.ajax({
            url:"/max/addgood",
            type:"post",
            dataType:"json",
            data:$("#formid").serialize(),
            success:function(){

            },error:function(){

                if (yhh() & jj() & sff()){
                    alert("成功");
                    return true;
                }else{
                    alert("失败");
                    return false;
                }

            }

        });

    }

    //公司全称
    function yhh(){
        var yobj=document.getElementById("yh").value
        var reg=/^[\4ue00-\u9fa5]{2,}$/
        if (reg.test(yobj)){
            sr1.innerHTML=""
            sr4.innerHTML=""
            return true;
        }else{
            sr1.innerHTML="<font color='red'>至少2位汉字</font>"
            sr4.innerHTML="<font color='red'>♚♚♚♚♚</font>"
            return false;
        }
    }
    //公司简介
    function jj(){
        var yobj=document.getElementById("gs").value
        var reg=/^[\4ue00-\u9fa5]{4,5}$/
        if (reg.test(yobj)){
            sr2.innerHTML=""
            sr5.innerHTML=""
            return true;
        }else{
            sr2.innerHTML="<font color='red'>4-5个汉字</font>"
            sr5.innerHTML="<font color='red'>ღღღღღ</font>"
            return false;
        }
    }
    //电话
    function sff(){
        var sfobj=document.getElementById("sf").value;
        var reg = /^((\d{2,4}-\d{6,8})|(1[345789]\d{9}))$/;
        if (reg.test(sfobj)){
            sr3.innerHTML="";
            return true;
        }else{
            sr3.innerHTML="<font color='red'>固话(4到6位---6到8位)或者手机号</font>";
            return false;
        }

    }

</script>
<script type="text/javascript">
    //文件域的id
    $("#butOne").uploadify({
        //前台请求后台的url 不可忽略的参数
        'uploader': "../upload/upImg",
        //插件自带 不可忽略的参数
        'swf': "/js/uploadify/uploadify.swf",
        //撤销按钮的图片路径
        'cancelImg': "/js/uploadify/uploadify-cancel.png",
        //如果为true 为自动上传 在文件后 为false 那么它就要我们自己手动点上传按钮
        'auto': true,
        //可以同时选择多个文件 默认为true 不可忽略
        'multi': false,
        //给上传按钮设置文字
        'buttonText': "上传头像",
        //上传后队列是否消失
        'removeCompleted': true,
        'removeTimeout': 1,
        //上传文件的个数
        'uploadLimit': 2,
        'fileTypeExts': "*.jpg;*.jpge;*.gif;*.png",
        'fileSizeLimit': "2MB",
        //给div的进度条加背景 不可忽略
        'queueID': "showBars",
        // controller层方法中接收文件的参数名--------artImg
        'fileObjName': "artImg",
        //上传成功后的回调函数
        'onUploadSuccess': function (file, data, response) {
            $("#testimg").prop("src", data);
            $("#imagea").val(data);
            alert("上传成功，请到OSS中查看。")
        }
    })

</script>
<script type="text/javascript">
    var editor = null;
    KindEditor.ready(function(K) {//将编辑器添加到文档中
        editor = K.create('#content', {
            cssPath : '/js/kindeditor-4.1.10/plugins/code/prettify.css',//指定编辑器iframe document的CSS文件，用于设置可视化区域的样式。
            uploadJson : '/js/kindeditor-4.1.10/jsp/upload_json.jsp', //指定上传文件的服务器端程序。
            fileManagerJson : '/js/kindeditor-4.1.10/jsp/file_manager_json.jsp',//指定浏览远程图片的服务器端程序。
            allowFileManager : true,  //true时显示浏览远程服务器按钮 ;默认值: false
            afterCreate : function() {
                var self = this;
                K.ctrl(document, 13, function() {
                    self.sync();
                    document.forms['example'].submit();
                });
                K.ctrl(self.edit.doc, 13, function() {
                    self.sync();
                    document.forms['example'].submit();
                });
            }
        });
        prettyPrint();
    });
</script>
</html>