<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css">
    <script src="../js/bootstrap3/js/bootstrap.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal" id="navigationbarForm">
        <div class="form-group">
            <label for="navigationbartext" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-4">
                <input type="hidden" class="form-control" id="navigationbarid" name="id">
                <input type="text" class="form-control" id="navigationbartext" name="text">
            </div>
            <label for="navigationbarurl" class="col-sm-2 control-label">路径</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="navigationbarurl" name="url">
            </div>
        </div>
    </form>
</div>
</body>
</html>