<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="/js/layui-v2.4.5/layui/css/layui.css"  media="all">

<body>
<table   bgcolor="#ffffcc">

    <tr>
        <td>安全等级:</td>
        <td>
            <div style="margin-top: 15px; width:300px">
            <div class="layui-progress">
            <div class="layui-progress-bar layui-bg-orange" style="width:35%"></div>
            </div>
            </div>低
        </td>
    </tr>


    <tr>
        <td>登录密码:<br><font color="#00cc00">已设置</font></td>
        <td>安全性高的密码可以使账号更安全。建议您定期更换密码，且设置一个包含数字和字母，并长度超过6位以上的密码。</td><td><font color="#0033ff">修改</font></td>
    </tr>


    <tr>
        <td>提现密码:<br><font color="red">未设置</font></td>
        <td>设置提现密码,用于提现申请,让您的账户资金更安全。</td>

        <td><font color="#0033ff">设置</font></td>
    </tr>


    <tr>
        <td>提现银行卡:<br><font color="red">未绑定</font></td>
        <td>绑定银行卡且通过审核，才可进行提现。</td>

        <td><font color="#0033ff">立即绑定</font></td>
    </tr>

</table>
</body>
</html>