<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/easyui1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
    <script src="/js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/js/bootbox/bootbox.all.min.js"></script>
    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <form class="form-horizontal col-md-offset-3" id="htloginForm">
        <h4>登录</h4>
        <div class="col-md-8">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入账号" name="account">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="请输入密码" name="password">
        </div>
        <div class="form-group">
            <button type="button" onclick="htlogin()">登录</button>
        </div>
        </div>
    </form>
</div>
</body>
<script>
    function  htlogin() {
        $.ajax({
            url:'/tree/findhtlogin',
            type:'post',
            data:$("#htloginForm").serialize(),
            dataType:'json',
            success:function(data){
                if(data){
                    alert("登录成功");
                    location.href="/page/tomgtree";
                }else{
                    bootbox.alert({
                        size:"small",
                        title:"提示",
                        message:"登录失败"
                    });
                }
            }
        })
    }
</script>
</html>