<!DOCTYPE html>
<html lang="en">
<head>
    <title>绿蚂蚁_领先的物流搜索平台为您提供物流专线,物流公司,物流新闻</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="物流专线,物流公司,物流新闻,绿蚂蚁"/>
    <meta name="description" content="绿蚂蚁：领先的物流搜索平台，提供深圳、广州、上海、北京等全国的物流专线、物流公司、物流新闻、在线发货服务，涵盖了德邦物流、天地华宇、佳吉快运、新邦物流等10000多家物流公司"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand|ie-comp" />
    <link rel="stylesheet" href="/js/layui/css/layui.css">

    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/common.css?version=20170918"></link>
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/zzsc.css"></link>

    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery-3.2.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.configCity.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.chooseCity-1.2.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.cookie.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/functions.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.plugins.js" charset="UTF-8"></script>

    <script type="text/javascript" src="http://www.lvmae.com/file/script/config.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/zzsc.min.js" charset="UTF-8"></script>
    <script src="/js/layui/layui.js"></script>

    <script src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/slide.js"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.plugins.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/index.v1.css"></link>
    <script src="https://static.pdflibr.com/SuperSlide/2.1.3/jquery.SuperSlide.2.1.3.js"></script>
    <script type="text/javascript">
        var _HotLineScrollTop = "";
        var basePath = "http://www.lvmae.com/";
        var resourcePath = "http://img.lvmae.com/JAVA";
        var baseLebpPath = "http://kuaidi.lvmae.com";
        var userLogoPath = "http://img.lvmae.com/image/UserHeadPortrait/";
    </script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.common.js" charset="UTF-8"></script>
    <link rel="canonical" href="http://www.lvmae.com"/>
</head>
<style type="text/css">
    div.aaa{
    width:77%;
    height:92%;
    margin-top:350px;
    margin-left:155px;
    }
</style>

<body>
<!-- Header Start -->
    <div class="header-content">
        <div class="wrap">
            <div class="logo icons-logo fl"><a href="http://www.lvmae.com/" title="上绿蚂蚁发货，说走就走">上绿蚂蚁发货，说走就走</a></div>
            <div class="icons-wuli fr" style="background-image:none;"><script type="text/javascript" src="http://www.lvmae.com/file/script/A47.js"></script></div>
        </div>
    </div>
    <div class="nav">
        <div class="wrap">
            <ul>
                <span id="cc"></span>
               </ul>
        </div>
    </div>
<div class="substation-box">
    <div class="substation">
        <div class="sub-title">分站</div>
        <a class="sub-link-01" href="http://bj.lvmae.com/" target="_blank">北京</a>
        <a class="sub-link-01" href="http://sh.lvmae.com/" target="_blank">上海</a>
        <a class="sub-link-01" href="http://tj.lvmae.com/" target="_blank">天津</a>
        <a class="sub-link-01" href="http://gd.lvmae.com/" target="_blank">广东</a>
        <a class="sub-link-01" href="http://hb.lvmae.com/" target="_blank">河北</a>
        <a class="sub-link-01" href="http://shanxi.lvmae.com/" target="_blank">山西</a>
        <a class="sub-link-01" href="http://ln.lvmae.com/" target="_blank">辽宁</a>
        <a class="sub-link-01" href="http://jl.lvmae.com/" target="_blank">吉林</a>
        <a class="sub-link-01" href="http://js.lvmae.com/" target="_blank">江苏</a>
        <a class="sub-link-01" href="http://zj.lvmae.com/" target="_blank">浙江</a>
        <a class="sub-link-01" href="http://ah.lvmae.com/" target="_blank">安徽</a>
        <a class="sub-link-01" href="http://fj.lvmae.com/" target="_blank">福建</a>
        <a class="sub-link-01" href="http://jx.lvmae.com/" target="_blank">江西</a>
        <a class="sub-link-01" href="http://sd.lvmae.com/" target="_blank">山东</a>
        <a class="sub-link-01" href="http://henan.lvmae.com/" target="_blank">河南</a>
        <a class="sub-link-01" href="http://hubei.lvmae.com/" target="_blank">湖北</a>
        <a class="sub-link-01" href="http://hunan.lvmae.com/" target="_blank">湖南</a>
        <a class="sub-link-01" href="http://gx.lvmae.com/" target="_blank">广西</a>
        <a class="sub-link-01" href="http://hainan.lvmae.com/" target="_blank">海南</a>
        <a class="sub-link-01" href="http://zq.lvmae.com/" target="_blank">重庆</a>
        <a class="sub-link-01" href="http://sc.lvmae.com/" target="_blank">四川</a>
        <a class="sub-link-01" href="http://gz.lvmae.com/" target="_blank">贵州</a>
        <a class="sub-link-01" href="http://yn.lvmae.com/" target="_blank">云南</a>
        <a class="sub-link-01" href="http://xc.lvmae.com/" target="_blank">西藏</a>
        <a class="sub-link-01" href="http://sx.lvmae.com/" target="_blank">陕西</a>
        <a class="sub-link-01" href="http://gs.lvmae.com/" target="_blank">甘肃</a>
        <a class="sub-link-01" href="http://qh.lvmae.com/" target="_blank">青海</a>
        <div class="sub-more">更多<div class="sub-more-body">
            <a class="sub-link-01" href="http://nx.lvmae.com/" target="_blank">宁夏</a>
            <a class="sub-link-01" href="http://hlj.lvmae.com/" target="_blank">黑龙江</a>
            <a class="sub-link-01" href="http://nmg.lvmae.com/" target="_blank">内蒙古</a>
            <a class="sub-link-01" href="http://xj.lvmae.com/" target="_blank">新疆</a>
            <a class="sub-link-01" href="http://hk.lvmae.com/" target="_blank">香港</a>
            <a class="sub-link-01" href="http://tw.lvmae.com/" target="_blank">台湾</a>
            <a class="sub-link-01" href="http://am.lvmae.com/" target="_blank">澳门</a>
        </div>
    </div>
</div>
</div>
<div>
    <div class="layui-carousel" id="test1" style="position: absolute;z-index: 0">
        <div class="banner-box" style="  ">
        <div class="kSlide" id="kSlide">
            <ul id="luntu">

            </ul>
            </div>
        </div>
    </div>
</div>
<div class="aaa">
    <div class="wrap">
        <a href="http://www.lvmae.com/extend/redirect.php?aid=94">
            <img src="/js/img/u=846181890,1412064009&fm=26&gp=0.jpg" height="85" width="1200"/>
        </a>
    </div>
</div>
<div class="block-wrapper zuangche-fache">
    <div class="wrap">
        <div class="block-header">
            <h3>专线发车时刻表</h3>
            <ul class="tab-title" id="tab1">
                <span id="dd" onclick="aaa()"></span>
            </ul>
        </div>
        <div class="block-body" id="con1">
            <div class="tab-content tab-active" data-tab="city_1">
                <div class="section-1">
                    <div class="section-left">
                        <h4><span class="icons-i1"></span><strong>热门送达城市</strong></h4>
                        <div class="tag-box-1">
                           <span id="ff"></span>
                        </div>
                </div>
                    <table id="hyskb1" class="hyskb">
                        <thead>
                        <tr>
                            <th class="wp15">物流线路</th>
                            <th class="wp30">运输班次 / <span style="color:red;">预计到达时间</span></th>
                            <th class="wp3"></th>
                            <th class="wp15">运输价格</th>
                            <th class="wp15">保障</th>
                            <th class="wp12">发货</th>
                        </tr>
                        </thead>
                    </table>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="block-wrapper teijia">
    <div class="wrap">
        <div class="block-header">
            <p style="float:left;line-height: 30px;text-indent: 20px;width: 80px;">特价线路</p>
            <select name="region" id="gg">
                <option value="0" selected>其他</option>
            </select>
        </div>
    </div>
</div>
 <div class="block-body">
     <div class="tab-content " data-tab="jg_32756">
          <div class="section-3">
              <ul class="teijia-list">
                  <li class="item">

                  </li>
              </ul>
           </div>
     </div>
 </div>
</body>
<script type="text/javascript">
    $(function () {
        navigationbar();
        getBroadcastMap();
        regions();
    })
    //轮播图片
    function getBroadcastMap() {
        $.ajax({
            url:'/picture/findpicture',
            success: function (data) {
                var map = '';
                for (var i = 0; i < data.length; i++) {
                    map += '<li style="background-image: url(' + data[i].img + '); background-repeat: no-repeat; background-position: center center;"></li>';
                }
                console.log(map)
                $("#luntu").html(map)
                $("#kSlide").kSlide({
                    type: 'slide',
                    timeOut: 4000
                });
            }
        })
    }
    //导航栏
    function navigationbar() {
        $.ajax({
            url:'/navigation/findnavigationbar',
            dataType:'json',
            success:function (data) {
                var str="";
                for (var i = 0; i < data.length; i++) {
                    str+='<li><a href="'+data[i].url+'">'+data[i].text+'</a></li>';
                }
                $("#cc").html(str);
            }
        })
    }
    //地区
    function regions() {
        $.ajax({
            url:'/region/findregion',
            dataType:'json',
            success:function (data) {
                var str="";
                for (var i = 0; i < data.length; i++) {
                    str+='<li class="tab-item ">'+data[i].region+'<span class="arrow-1"></span></li>';
                }
                $("#dd").html(str);
            }
        })
    }
</script>
</html>