<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../js/easyui1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/layui/css/layui.css">

    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/common.css?version=20170918"></link>
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/zzsc.css"></link>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery-3.2.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.configCity.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.chooseCity-1.2.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.cookie.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/functions.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/jquery.plugins.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/kslide.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/config.js" charset="UTF-8"></script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/zzsc.min.js" charset="UTF-8"></script>
    <script src="/js/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>



    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css">
    <script src="../bootstrap3/js/bootstrap.js"></script>

    <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.css">
    <script src="../bootstrap-table/bootstrap-table.js"></script>

    <script src="../bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="../bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="../bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript">
        var _HotLineScrollTop = "";
        var basePath = "http://www.lvmae.com/";
        var resourcePath = "http://img.lvmae.com/JAVA";
        var baseLebpPath = "http://kuaidi.lvmae.com";
        var userLogoPath = "http://img.lvmae.com/image/UserHeadPortrait/";
    </script>
    <script type="text/javascript" src="http://www.lvmae.com/file/script/index/hj.common.js" charset="UTF-8"></script>
    <link rel="canonical" href="http://www.lvmae.com"/>



    <title>物流线路</title>
</head>
<body>
<div class="nav">
    <div class="wrap">
        <ul>
            <span id="cc"></span>
        </ul>
    </div>

</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="form-group">
                <input type="text" id="queryzl" class="form-control input-lg" placeholder="&nbsp;&nbsp;&nbsp;请输入重量或大小"><button type="button" class="btn btn-info" onclick="serche()" >立即查询</button>

            </div>
        </div>
</nav>
    <!--<div class="search-area" style="background-color:black">
            <li class="fl item">
                <div class="placeholder-box placeholder-2" placeholder>
                    <div class="placeholder" placeholder></div>
                    <input type="text" class="  input placeholder" id="volume_num" name="volume_num" maxlength="9" value="" onkeyup="filterNum(this)" placeholder="请输入体积或重量"  autocomplete="off">
                </div>
            </li>
            <li class="fl item m2"><input type="button" class="btn b-6" onclick="subFrom('find','');" value="即刻查询" /></li>
            <li class="fl item"></li>
            <li class="fl item"></li>
        </ul>
        <div class="search-rs "></div>
    </div>-->

<input type="hidden" id="shi" th:value="${shi}">
<input type="hidden" id="daodashi" th:value="${daodashi}">
    <dl class="search-rlist">
        <dd class=" ml20" >
         <table id="roadDiv"></table>
        </dd>
    </dl>


</body>
<script type="text/javascript" th:inline="javascript">
 $(function () {
     initqueryRode();
     navigationbar();

 })
    function initqueryRode() {

        var shi = $("#shi").val();
        var daodashi = $("#daodashi").val();
        var queryzl = $("#queryzl").val();
        $.ajax({
            url: "/tree/queryRoad",
            data: {
                shi: shi,
                daodashi: daodashi,
                queryzl:queryzl
            },
            success: function (data) {
                var rows = data.rows;

                //alert(data[0].scity);
              // var a =data.cfshi
             //   alert(a);
                var html = "";
                $.each(rows,function(n,value){
                    html += " &nbsp;<br>" +
                        "<span>"+data.cfshi+"到"+data.dShi+"专线"+ "</span>" +
                        "  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                        " <span>重货面议</span> " +
                        " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                        " <span>运输时效：" +value.time+ " </span> " +
                        " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                        "<span>"+value.qyQuancheng+"</span>" +
                        " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                        " <span>   <button class=\"layui-btn layui-btn-normal layui-btn-radius\" ><a href=\" /page/adddingdan\"><font color='#dc143c'>联系发货</font></a></button>" + " </span> " +
                        " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;<br>" +
                        "<span>"+data.cfshi+"</span>" +
                        " &nbsp; &nbsp;" +
                        "<span><i class=\"icons-arrow-left\"></i></span>" +
                        " &nbsp; &nbsp;" +
                        "<span>"+data.dShi+"</span>" +
                        " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                        "<span>轻货：面议</span>" +
                        " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                        "<span>最低一票：面议</span>" +
                        " &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;" +
                        "<span><i class=\"icon-zheng\">证</i></span>" +
                        " &nbsp; &nbsp;" +
                        "<span><i class=\"icon-abc\">物流公司</i></span>" +
                        " &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;" +
                        "<span><button id='dianhua' class=\"layui-btn layui-btn-warm layui-btn-radius\" title='18322516008' )'>热线</button> <br>" +

                        "<span>公司地址："+value.dizhiXiangqing+"</span><br><br>" +
                        "<span>公司简介："+value.qyJieshao.substring(0,20)+"</span><br><br><hr class=\"layui-bg-red\" width= '1200'>" +
                        "";

                })

                $("#roadDiv").html(html);


            }
        })
    }
 function navigationbar() {
     $.ajax({
         url:'/navigation/findnavigationbar',
         dataType:'json',
         success:function (data) {
             var str="";
             for (var i = 0; i < data.length; i++) {
                 str+='<li><a href="'+data[i].url+'">'+data[i].text+'</a></li>';
             }
             $("#cc").html(str);

         }
     })
 }

</script>
</html>