<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/easyui1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
    <script src="/js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/js/bootbox/bootbox.all.min.js"></script>
    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <title>Title</title>
</head>
<body>
<div id="toolbar">
    <button type="button" onclick="addpicture()"  class="btn-info">新增</button>
</div>
<table id="myTable"></table>
</body>
<script>
    //查询
    $(function () {
        initpicture();
    })
    function  initpicture() {
        $("#myTable").bootstrapTable({
            url:'/picture/findpicturelist',
            toolbar:"#toolnar",
            columns: [
                {field:'id',title:'ID'},
                {field:'img',title:'图片',formatter:function(value,row,index){
                        return'<img width="50px" height="50px" src="'+row.img+'">'
                 }},
                {field:'123',title:'操作',formatter:function(value,row,index){
                        return "<a href='javaScript:delpicture("+row.id+");'>删除</a>||<a href='javaScript:updapicture("+row.id+");'>修改</a>";
                 }},
            ]
        })
    }
    //单删
    function delpicture(id){
        $.ajax({
            url: '/picture/deletepicture',
            data:{
                id:id
            },
            type: 'post',
            success:function(data){
                if (data) {
                    alert("删除成功");
                    $('#myTable').bootstrapTable('refresh');
                }else{
                    bootbox.alert({
                        size:"small",
                        title:"提示",
                        message:"删除失败"
                    });
                }
            }
        })
    }
    //新增
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function addpicture(){
        var url="/page/toaddpicture";
        bootbox.dialog({
            title:'操作数据',
            message:createAddContent(url),
            size:'large',
            buttons:{
                cancel:{
                    label:"关闭",
                    className:'btn-danger',
                    callback:function(){
                        console.log("Custom cancel clicked");
                    }
                },
                ok:{
                    label:"保存",
                    className:'btn-info',
                    callback:function(){
                        $.ajax({
                            url:"/picture/addpicturelist",
                            type:'post',
                            data:$("#pictureForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                if(data){
                                    alert("操作成功");
                                    $('#myTable').bootstrapTable('refresh');
                                }else{
                                    bootbox.alert({
                                        size:"small",
                                        title:"提示",
                                        message:"操作失败"
                                    });
                                }
                            }
                        })
                    }
                }
            }
        })
    }
    //回显
    function updapicture(id){
        addpicture();
        $.ajax({
            url:"/picture/updatepicture",
            type:'post',
            data:{
                id:id
            },
            dataType:'json',
            success:function(data){
                $("#pictureid").val(data.id);
                $("#testimg").val(data.img);
            }
        })
    }
</script>
</html>