<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>订单查询</title>
    <script src="/js/easyui1.5/jquery.min.js"></script>

    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script src="/bootstrap3/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/bootstrap-table/bootstrap-table.css">
    <script src="/bootstrap-table/bootstrap-table.js"></script>

    <script src="/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/bootbox/bootbox.all.min.js"></script>
</head>
<style type="text/css">
    div.aaa{
        width:95%;
        height:150%;
        padding:5px 30px;
        margin-top:30px;
        margin-left:30px;
        border:2px solid #CCCCCC;
    }
    span.title{
        display:block;
        width:100px;
        height:10px;
        position:relative;
        top:-15px;
        text-align: center;
        background: white;
    }

</style>

<style type="text/css">
    div.bbb{
        width:95%;
        height:200%;
        padding:5px 30px;
        margin-top:30px;
        margin-left:30px;
        border:2px solid #CCCCCC;
    }
    span.title1{
        display:block;
        width:100px;
        height:30px;
        position:relative;
        top:-15px;
        text-align: center;
        background: white;
    }

</style>
<body>
<div class="panel">
    <div class="panel-body">
        <div class="aaa">
            <span class="title">筛选条件</span>
            <div  class="row">
                <div class="col-md-2">
                    <label class="control-label">
                        <select id="type">
                            <option value="0">查询类型</option>
                            <option value="1">订单号</option>
                            <option value="2">发货人手机号</option>
                            <option value="3">发货人姓名</option>
                        </select>
                    </label>
                </div>
                <div class="col-md-4">
                    <input type="text" maxlength="16"  id="queryType"/>
                </div>

                <div class="col-md-2">
                    <label class="control-label">下单时间：</label>
                </div>
                <div class="col-md-2">
                    <input type="date"id="startTime"  class="form-control date">到 <input type="date" id="endTime" class="form-control date">
                </div>
            </div>
            <div  class="row">
                <div>
                    <div class="col-md-2">
                        <label class="control-label">结算状态:</label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" value="option1">全部

                        </label>
                        <label>
                            <input type="radio" value="option2">已结算

                        </label>
                        <label>
                            <input type="radio" value="option3">待结算

                        </label>

                        <button type="button" class="btn btn-primary" onclick="seachdd()">筛选</button>
                        <button type="button" class="btn btn-primary">重置</button>
                        <button type="button" class="btn btn-primary">导出</button>
                        <font size="3px">共有20条结果</font>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
    <table class="table table-bordered table-striped with-check" style="word-break:break-all; word-wrap:break-all;" id="dingdanTable">
    </table>
</body>
<script type="text/javascript">
    $(function(){
        initcommentsTable();
    })

    function initcommentsTable() {

        $("#dingdanTable").bootstrapTable({
            url: "/tree/queryDingdanZaaitu",
            toolbar: "#toolbar",
            pagination: true,
            pageList: [5, 10, 20, 50],
            pageNumber: 1,
            pageSize: 5,
            sidePagination: 'server',
            striped: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,
            clickToSelect: true,
            showToggle: true,
            detailView: false,
            queryParams: function () {
                   /*   var type = $("#type").val();
                      var queryType = $("#queryType").val();
                     // var goodsNumber = $("#goodsNumber").val();
                      var startTime = $("#startTime").val();
                      var endTime = $("#endTime").val();*/

                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
             /*       type:type,
                    queryType:queryType,
                    startTime:startTime,
                    endTime:endTime*/
                };
            },
            columns: [
                {checkbox: true},
                {field: 'goodsNumber', title: '订单号'},
                {field: 'place1', title: '出发地'},
                {field: 'place2', title: '到达地'},
                {field: 'goodsName', title: '货物名称'},
                {field: 'sendName', title: '发货人姓名'},
                {field: 'sendPhone', title: '联系人手机号'},
                {field: 'goodsWeight', title: '货物重量', formatter: function (value, row, index) {
                        return value+'kg';
                    }},
                {field: 'goodsVolume', title: '货物体积', formatter: function (value, row, index) {
                        return value +'m³';
                    }},
                {field: 'note', title: '订单信息'},
              /*  {
                    field: 'fukuan', title: '支付方式', formatter: function (value, row, index) {
                        return value == 1 ? "已支付" : "未支付";
                    }
                },*/
                {
                    field: 'shonghuo', title: '取货方式', formatter: function (value, row, index) {
                        return value == 1 ? "上门提货" : "送货上门";
                    }
                },
               /* {field: '12313', title: '处理订单',formatter: function (value, row, index) {
                        return row.yn==1? '<button type="button" class="btn btn-info" onclick="souli('+row.id+')">受理订单</button> | <button type="button" class="btn btn-info" onclick="jujue('+row.id+')">拒绝订单</button>':"已受理";
                    }},*/

            ]
        })
    }
    function seachdd() {
        $('#dingdanTable').bootstrapTable('refresh');
    }
    function souli(id) {
        alert(id)
        $.ajax({
            url:'/tree/updateSouli',
            data:{id:id},
            success:function (data){
                bootbox.alert({
                    size:"small",
                    title:'提示',
                    message:"已受理"
                });
            },
            error:function () {
                bootbox.alert({
                    size:"small",
                    title:'提示',
                    message:"请再次点击"
                });
            }

        })
    }
</script>
</html>