<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>线路管理展示</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-fileinput/css/fileinput.css">
    <script src="/bootstrap/easyui1.5/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <script src="/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/bootstrap/bootbox/bootbox.all.min.js"></script>
    <script src="/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>

    <style type="text/css">
        div.aaa{
            width:95%;
            height:150%;
            padding:5px 30px;
            margin-top:30px;
            margin-left:30px;
            border:2px solid #CCCCCC;
        }
        span.title{
            display:block;
            width:100px;
            height:10px;
            position:relative;
            top:-15px;
            text-align: center;
            background: white;
        }

    </style>

    <style type="text/css">
        div.bbb{
            width:95%;
            height:200%;
            padding:5px 30px;
            margin-top:30px;
            margin-left:30px;
            border:2px solid #CCCCCC;
        }
        span.title1{
            display:block;
            width:100px;
            height:30px;
            position:relative;
            top:-15px;
            text-align: center;
            background: white;
        }

    </style>
</head>
<body>
<form:form modelAttribute="organizationManageDto">
    <div class="panel">
        <div class="panel-body">
            <div class="aaa">
                <span class="title">筛选条件</span>
                <div  class="row">

                    <button type="button" class="btn btn-primary">筛选</button>
                    <button type="button" class="btn btn-primary">重置</button>
                    <button type="button" class="btn btn-primary">导出</button>
                    <font size="3px">共有20条结果</font>
                </div>
            </div>

        </div>
    </div>
</form:form>

<form:form modelAttribute="organizationManageDto">
    <div class="panel">
        <div class="panel-body">
            <div class="bbb">
                <span class="title1">排序规则</span>
                  <a href="javascript:shijian('+id+');">按发布时间排序</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:jine('+id+');">按始发地排序</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="javascript:jaioyi('+id+');">按目的地排序</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:jine('+id+');">按运输时效排序</a>

            </div>

        </div>
    </div>
</form:form>
<table id="roadTable"></table>
</body>
<script>

    


    /*页面加载*/
    $(function () {
        initRoadTable();//商品查询展示
    });
    /*查询展示*/
    function initRoadTable() {

        $("#roadTable").bootstrapTable({
            url: '/findRoadList',
            toolbar: '#toolbar',
            pagination: true, //是否展示分页
            pageList: [3, 5, 10, 20, 50],//分页组件
            pageNumber: 1,
            pageSize: 3,//默认每页条数
            //页面修饰
            showRefresh: true,//是否显示刷新按钮
            showToggle: true,//是否显示 切换试图（table/card）按钮
            detailView: true,//设置为 true 可以显示详细页面模式。
            showColumns: true,//是否显示 内容列下拉框
            clickToSelect: true, //是否启用点击选中行
            showPaginationSwitch: true,//是否显示 数据条数选择框
            //解决条查乱码
            //method: "post",
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            //传递参数,条件查询,分页传参
            queryParams: function () {

                return {
                    //有分页的固定传值
                    page: this.pageNumber,
                    rows: this.pageSize,

                }
            },
            sidePagination: 'server',
            columns: [
                {field: 'id', title: 'id'},
                {field: 'sareaname', title: '始发地'},
                {field: 'mareaname', title: '目的地'},
                {field: 'time', title: '运输时效'},
                {field: 'zprice', title: '重货价格'},
                {field: 'qprice', title: '清货价格'},
                {field: 'minPrice', title: '最低一票价格'},
                {field: 'good', title: '上门提货'},
                {field: 'sgood', title: '送货上门'},
                {field:'status',title:'发布状态',formatter:function(value,row,index){
                        if(value == 1){
                            return "<input type='button' value='待发布'>";
                        }
                        if(value == 2){
                            return "<input type='button' value='已发布'>";
                        }
                    }},
                {field:'abc',title:'操作',formatter:function(value,row,index){
                        return '<input type="button" value="编辑"/>';
                    }}
            ]
        })
    }





    function xianid1() {
        var a=document.getElementById("shiid");
        a=a.value
        $.ajax({
            url:"/getxian",
            type: "post",
            data:{typeid:a},
            success : function (data) {
                var hi="";

                for (var i = 0; i <data.length; i++) {

                    hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }
                $("#xianid").html(hi);

            }
        })

    }



    function shiid1() {
        var a=document.getElementById("slid");
        debugger;
        a=a.value
        $.ajax({
            url:"/getshi",
            type: "post",
            data:{typeid:a},
            success : function (data) {
                var hi="";

                for (var i = 0; i <data.length; i++) {

                    hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }

                $("#shiid").html(hi);
                $("#xianid").html("");







            }
        })

    }



    $(function () {
        $.ajax({
            url:"/getsheng",
            type: "post",
            success : function (data) {
                var hi="";

                for (var i = 0; i <data.length; i++) {

                    hi+="<option value='"+data[i].id+"'>"+data[i].name+"</option>";
                }

                $("#slid").html(hi);
                $("#sslid").html(hi);







            }
        })
    })




</script>
</html>