<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>线路管理展示</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-fileinput/css/fileinput.css">
    <script src="/bootstrap/easyui1.5/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <script src="/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/bootstrap/bootbox/bootbox.all.min.js"></script>
    <script src="/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>

    <style type="text/css">
        div.aaa{
            width:95%;
            height:150%;
            padding:5px 30px;
            margin-top:30px;
            margin-left:30px;
            border:2px solid #CCCCCC;
        }
        span.title{
            display:block;
            width:100px;
            height:10px;
            position:relative;
            top:-15px;
            text-align: center;
            background: white;
        }

    </style>

    <style type="text/css">
        div.bbb{
            width:95%;
            height:200%;
            padding:5px 30px;
            margin-top:10px;
            margin-left:30px;
            border:2px solid #CCCCCC;
        }
        span.title1{
            display:block;
            width:100px;
            height:30px;
            position:relative;
            top:-15px;
            text-align: center;
            background: white;
        }

    </style>
</head>
<body>
<button type="button" class="btn btn-primary" onclick="openRoadAdd()">添加线路</button>
<button type="button" class="btn btn-primary" onclick="zengzhi()" style="margin-left:1000px">查看增值服务</button>
<form:form modelAttribute="organizationManageDto">
    <div class="panel">
        <div class="panel-body">
            <div class="aaa">
                <span class="title">筛选条件</span>
                <div  class="row">
                    <div class="form-group">
                      <table>
                            <tr>
                                <td>始发站</td>
                                <td>
                                    <select id="sheng1" name="typeId" class="form-control" onChange="queryShi()">

                                    </select>
                                </td>
                                <td>-</td>
                                <td>
                                    <select id="shi" name="typeId" class="form-control" onChange="queryXian()">

                                    </select>
                                </td>
                                <td>-</td>
                                <td>
                                    <select id="xian" name="typeId" class="form-control">

                                    </select>
                                </td>
                            </tr>
                        </table><br>
                        <table>
                            <tr>
                                <td>目的地</td>
                                <td>
                                    <select id="sheng2" name="typeId" class="form-control" onchange="querysheng2()">

                                    </select>
                                </td>
                                <td>-</td>
                                <td>
                                    <select id="shi2" name="typeId" class="form-control" onchange="queryshi2()">

                                    </select>
                                </td>
                                <td>-</td>
                                <td>
                                    <select id="xian2" name="typeId" class="form-control">

                                    </select>
                                </td>
                            </tr>
                        </table>



                    <button type="button" class="btn btn-primary">筛选</button>
                    <button type="button" class="btn btn-primary">重置</button>
                    <button type="button" class="btn btn-primary">导出</button>
                    <font size="3px">共有20条结果</font>
                </div>
            </div>

        </div>
    </div>
</div>
</form:form>
<table id="roadTable"></table>
</body>
<script>

    


    /*页面加载*/
    $(function () {
        initRoadTable();//商品查询展示

       initSheng(1);
        initFsheng(1);

    });
    /*查询展示*/
    function initRoadTable() {

        $("#roadTable").bootstrapTable({
            url: '/findRoadList',
            toolbar: '#toolbar',
            pagination: true, //是否展示分页
            pageList: [3, 5, 10, 20, 50],//分页组件
            pageNumber: 1,
            pageSize: 3,//默认每页条数
            //页面修饰
            showRefresh: true,//是否显示刷新按钮
            showToggle: true,//是否显示 切换试图（table/card）按钮
            detailView: true,//设置为 true 可以显示详细页面模式。
            showColumns: true,//是否显示 内容列下拉框
            clickToSelect: true, //是否启用点击选中行
            showPaginationSwitch: true,//是否显示 数据条数选择框
            //解决条查乱码
            //method: "post",
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            //传递参数,条件查询,分页传参
            queryParams: function () {

                return {
                    //有分页的固定传值
                    page: this.pageNumber,
                    rows: this.pageSize,

                }
            },
            sidePagination: 'server',
            columns: [
                {field: 'id', title: 'id'},
                {field:"sareaname",title:"始发地",formatter:function(value,row,index){
                        return value + "-" + row.scityname + "-" + row.sregionname;
                    }},
                {field:"mareaname",title:"目的地",formatter:function(value,row,index){
                        return value + "-" + row.mcityname + "-" + row.mregionname;
                    }},
                {field: 'time', title: '运输时效',formatter:function(value,row,index){
                        return value + "小时";
                    }},
                {field: 'zprice', title: '重货价格',formatter:function(value,row,index){
                        return value + "元/kg";
                    }},
                {field: 'qprice', title: '清货价格',formatter:function(value,row,index){
                        return value + "元/m³";
                    }},
                {field: 'minPrice', title: '最低一票价格',formatter:function(value,row,index){
                        return value + "元";
                    }},
                {field: 'good', title: '上门提货'},
                {field: 'sgood', title: '送货上门'},
                {field:'status',title:'发布状态',formatter:function(value,row,index){
                        if(value == 1){
                            return '<button type="button" class="btn-info">已发布</button>';
                        }
                        if(value == 2){
                            return '<button type="button" class="btn-info">未发布</button>';
                        }
                    }},
                {field:'abc',title:'操作',formatter:function(value,row,index){
                        return '<button type="button" class="btn-info" onclick="bianjie()">编辑</button>';
                    }}
            ]
        })
    }



    function initFsheng(pid) {

        $.ajax({
            url:"/queryArea",
            data:{pid:pid},
            success:function (data) {
                var html="<option>省</option>";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"

                }

                $("#sheng2").html(html);
            }
        })
    }
    function querysheng2() {
        var shengid =$("#sheng2").val()
        $.ajax({
            url:"/queryAreaShi",
            data:{shengid:shengid},
            success:function (data) {
                var html="<option>市</option>";
                var  str="";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"
                    var  str=data[i].name
                }
                alert(str)
                $("#shi2").html(html);
            }
        })
    }
    function queryshi2() {
        var shi =$("#shi2").val();
        $.ajax({
            url:"/queryAreaXian",
            data:{shi:shi},
            success:function (data) {
                var html="<option>县</option>";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"
                }
                $("#xian2").html(html);
            }
        })
    }
    function initSheng(pid) {
        $.ajax({
            url:"/queryArea",
            data:{pid:pid},
            success:function (data) {
                var html="<option>省</option>";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"

                }

                $("#sheng1").html(html);
            }
        })

    }

    function queryShi() {
        var shengid =$("#sheng1").val()
        $.ajax({
            url:"/queryAreaShi",
            data:{shengid:shengid},
            success:function (data) {
                var html="<option>市</option>";
                var  str="";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"
                    var  str=data[i].name
                }
                alert(str)
                $("#shi").html(html);
            }
        })
    }

    function queryXian() {
        var shi =$("#shi").val();
        $.ajax({
            url:"/queryAreaXian",
            data:{shi:shi},
            success:function (data) {
                var html="<option>县</option>";
                for (var i = 0; i < data.length; i++) {
                    html+="<option value='"+data[i].id+"'>"+data[i].name+"</option>"
                }
                $("#xian").html(html);
            }
        })
    }


   function zengzhi() {
       location.href="/page/findList";
   }
   function bianjie() {
       location.href="/page/toEdit";
   }


    //打开新增弹框
    function openRoadAdd(){

        bootbox.dialog({
            title:'添加用户',
            message: createAddContent("/page/toAddRoad"),
            closeButton: true,//是否显示关闭按钮
            buttons : {
                "success" : {
                    "label" : "<i class='icon-ok'></i> 保存",
                    "className" : "btn-sm btn-success",
                    "callback" : function() {
                        $.ajax({
                            url:'/saveRoad',
                            type:'post',
                            data:$("#roadFrom").serialize(),
                            success:function(){
                                $('#roadTable').bootstrapTable('refresh');

                            }
                        });
                    }
                },
                "cancel" : {
                    "label" : "<i class='icon-info'></i> 取消",
                    "className" : "btn-sm btn-danger",
                    "callback" : function() {

                    }
                }
            }

        });
    }

    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
</script>
</html>