<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .myrow{
            margin-bottom:10px
        }
    </style>
</head>
<body>
<form id="userFrom">
    <input type="hidden" name="id" id="id">
    <div class="row myrow">
        <div class="col-md-2">
            <label for="name">提现金额</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="bank">提现银行卡</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="bank" name="bank">
        </div>
    </div>
    <div class="row myrow">
        <div class="col-md-2">
            <label for="createTime">下单时间</label>
        </div>
        <div class="col-md-4">
            <input type="date" class="form-control date" id="createTime" name="createTime">
        </div>
    </div>
</form>
</body>

</html>