<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/easyui1.5/jquery.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap3/css/bootstrap.css">
    <script src="/js/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <script src="/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/js/bootbox/bootbox.all.min.js"></script>
    <script src="/js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="/js/bootstrap-fileinput/css/fileinput.css">
    <title>Title</title>
</head>
<body>
<div id="toolbar">
    <button type="button" onclick="addviewinformation()"  class="btn-info">新增</button>
</div>
<table id="myTable"></table>
</body>
<script type="text/javascript">
    //查询
    $(function () {
        initviewinformation();
    })
    function initviewinformation() {
        $("#myTable").bootstrapTable({
            url:'/message/viewinformationlist',
            toolbar:'#toolbar',  //搜索
            pagination:true, //是否展示分页
            pageList:[2,5,10,20],//分页组件
            pageNumber:1,    //默认跳转到第几页
            pageSize:2,//默认每页条数
            sidePagination:'server',
            method:'post',
            contentType:'application/x-www-form-urlencoded',//post请求按
            queryParams:function(){
                return{
                    page: this.pageNumber,
                    rows: this.pageSize,
                }
            },
            columns:[
                {field:'qyQuancheng',title:'公司名称'},
                {field:'cityname',title:'城市名称'},
                {field:'yuan',title:'折扣'},
                {field:'yuan2',title:'价格'},
                {field:'123',title:'操作',formatter:function(value,row,index){
                        return "<a href='javaScript:delviewinformation("+row.qyId+");'>删除</a>||<a href='javaScript:updaviewinformation("+row.qyId+");'>修改</a>||<a href='javaScript:updastate("+row.qyId+");'>拉黑</a>";
                }},
            ],
        })
    }
    //单删
    function delviewinformation(qyId){
        $.ajax({
            url: '/message/deleteviewinformation',
            data:{
                id:qyId
            },
            type: 'post',
            success:function(data){
                if (data) {
                    alert("删除成功");
                    $('#myTable').bootstrapTable('refresh');
                }else{
                    bootbox.alert({
                        size:"small",
                        title:"提示",
                        message:"删除失败"
                    });
                }
            }
        })
    }
    //新增
    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
    function addviewinformation(){
        var url="/page/toaddviewinformation";
        bootbox.dialog({
            title:'操作数据',
            message:createAddContent(url),
            size:'large',
            buttons:{
                cancel:{
                    label:"关闭",
                    className:'btn-danger',
                    callback:function(){
                        console.log("Custom cancel clicked");
                    }
                },
                ok:{
                    label:"保存",
                    className:'btn-info',
                    callback:function(){
                        $.ajax({
                            url:'/message/addviewinformationlist',
                            type:'post',
                            data:$("#viewinformationForm").serialize(),
                            dataType:'json',
                            success:function(data){
                                if(data){
                                    alert("操作成功");
                                    $('#myTable').bootstrapTable('refresh');
                                }else{
                                    bootbox.alert({
                                        size:"small",
                                        title:"提示",
                                        message:"操作失败"
                                    });
                                }
                            }
                        })
                    }
                }
            }
        })
    }
    //回显
    function updaviewinformation(qyId){
        addviewinformation();
        $.ajax({
            url:"/message/updateviewinformation",
            type:'post',
            data:{
                id:qyId
            },
            dataType:'json',
            success:function(data){
                $("#viewinformationqyId").val(data.qyId);
                $("#viewinformationqyQuancheng").val(data.qyQuancheng);
                $("#viewinformationhref").val(data.href);
                $("#viewinformationhref2").val(data.href2);
                $("#viewinformationcity").val(data.cityid);
                $("#viewinformationhref3").val(data.href3);
                $("#viewinformationyuan").val(data.yuan);
                $("#viewinformationyuan2").val(data.yuan2);
            }
        })
    }
    //修改状态
    function updastate(qyId){
        $.ajax({
            url:"/message/updastatelist",
            data:{
                id:qyId
            },
            type: 'post',
            success:function(data){
                if (data) {
                    $('#myTable').bootstrapTable('refresh');
                }else{
                    bootbox.alert({
                        size:"small",
                        title:"提示",
                        message:"拉黑失败"
                    });
                }
            }
        })
    }
</script>
</html>