<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>运费收入展示</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-table/bootstrap-table.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-fileinput/css/fileinput.css">
    <script src="/bootstrap/easyui1.5/jquery.min.js"></script>
    <script src="/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <script src="/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/bootstrap/bootbox/bootbox.all.min.js"></script>
    <script src="/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/bootstrap/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/bootstrap/bootstrap-fileinput/js/locales/zh.js"></script>


</head>
<body>
<form id="ff">
    <input type="hidden">

    <table border="0" cellpadding="10" >

        <tr>
            <td><input type="checkbox">支持正本回单</td>
            <td cols="3"><input  type="text" style="width:50px" value="10">元/单</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td><input type="checkbox">支持货物保险</td>
            <td></td>
            <td><input type="checkbox">支持代收货款</td>
        </tr>
        <tr>
            <td>收费标准：</td>
            <td cols="3"><input  type="text" style="width:50px" value="1.5">%。</td>
            <td>收费标准：</td>
            <td cols="3"><input  type="text" style="width:50px" value="0">%。</td>
        </tr>
        <tr>
            <td>最低收费：</td>
            <td cols="3"><input  type="text" style="width:50px" value="5">元/单</td>
            <td>最低收费：</td>
            <td cols="3"><input  type="text" style="width:50px" value="5">元/单</td>
        </tr>
        <tr>
            <td>最高保额：</td>
            <td cols="3"><input  type="text" style="width:50px" value="100000">元</td>
            <td>代收范围：</td>
            <td cols="3"><input  type="text" style="width:50px" value="0">-<input  type="text" style="width:50px" value="50000">元</td>
        </tr>
        <tr>
            <td>是否强制：</td>
            <td><input type="checkbox">强制购买保险</td>
        </tr>
    </table>

    <button id="fat-btn" data-loading-text="loading..." class="btn btn-primary">保存</button>
    <font size="3px">编辑后，不影响已有订单的运费</font>
</form>
</body>

</html>