@charset "utf-8";

/*===========================================
我要发货样式表
 ============================================*/

.clear{width: 0px;height: 0px;font-size: 0px;line-height: 0px;clear: both;margin: 0px;padding: 0px;}
.mgl10{margin-left: 10px;}
.mgl20{margin-left: 20px;}
.mgt20{margin-top: 20px;}
.bold{font-weight: bold;}
.hide{display: none;}
.block{display: block;}
.al{text-align: left;}
.ar{text-align: right;}
.red{color: red;}
.gray{/*color: gray;*/color: #999999;}
.orange{color: #ff7300;}
.blue, a.blue, a.blue:hover { color: #1981c8;}
a.blue:hover{text-decoration: underline;}
.fl{float: left;}
.fr{float: right;}
.sider{position: relative;width: 260px;}
.sider ul{padding-bottom: 6px;}
.sider ul li{height:36px;line-height:36px;padding-left:10px;}
.sider ul li a{color:#333;}
.inp_grey{width: 231px;height: 22px;line-height: 22px;border: 1px solid #b2b2b2;padding: 0 5px;}

.select_more { border:1px solid #dcdcdc; height:30px; line-height:30px; color:#b6b6b6; font-size:14px; width:308px; position:relative;  background:#fff }
.select_more_list { width:400px; height:200px; border:1px solid #dcdcdc; background:#fff; position:absolute; top:30px; left:-1px}
.list_title { background:#83c326; height:30px; overflow:hidden}
.list_title a { display:block; float:left; color:#fff; width:90px; text-align:center; line-height:30px;}
.list_title a:hover,.list_title .list_title_active { background:#fff; color:#1aa950}
.list_con { height:170px; overflow-y:auto}
.list_con a { display:block; float:left; width:85px; color:#747474; padding-left:10px }
.list_con a:hover { background:#caefd8; }
.bubble-box {width: 200px; right: -165px;top:35px;left:88px; position: absolute;z-index: 100; display: none;}

/*步骤导航栏*/
.dg-nav{width: 960px; margin: 0 auto;position: relative; margin-top:20px; }
.dg-nav em{width:224px;height:35px;line-height: 35px;font-style: normal; background-color:#E8E8E8;vertical-align: middle;text-align: center;float: left;}
.dg-nav em.current{width: 225px; background-color:#BAD6EF;}
.dg-nav span{height: 35px;width: 21px;display: inline-block;background:url(image/nav_bj.jpg) 0px -70px;float: left;}
.dg-nav span.current{background: url(image/nav_bj.jpg) 0px 0px;}
.dg-nav span.nav_blue_gray{background: url(image/nav_bj.jpg) 0px -35px;}

/*填写订单*/
.dg-box{width: 960px; margin: 10px auto; position: relative;}
.dg-box .line-box{width: 260px; border: 1px solid #e9e9e9;  background-color:#F8F8F8; float: left;}
.line-box .company{padding: 20px; border-bottom: 1px solid #e9e9e9; text-align: center;}
.line-box .company p{padding: 10px 0 0 0;}
.line-box .company a{ color: #363636;}
.line-box .company a:hover{color: #ff7b19;text-decoration: underline;}
.line-box .line-info{padding: 10px;}
.line-info p {padding: 3px 0px;}
.line-info p em{font-style: normal;color: #FF0000;}
.line-box .line{padding: 20px 0px 25px 0px;text-align: center;}
.line-box .line a{ font-size: 20px; color: #FF9900;}
.line-box .line a span{ color: #474747; padding: 0 8px;}

.dg-box .deliver-goods{width: 690px; float: right; }
.dg-box .form-box{border: 1px solid #e9e9e9;color: #333333;}
.section{margin-bottom: 10px; border-bottom: 1px solid #e9e9e9;}
.noline{border: none;}
.section .title{margin: 12px 0px 8px 12px;}
.section .title .wtitle{font-size: 18px; font-weight: bolder;}
.section .content{padding: 20px 0px 16px 32px;}
table.dgbd{ border-collapse: collapse; border-spacing: 0;}
table.dgbd tr{height: 38px; line-height: 38px;}
input.txt{width: 250px;height: 22px; line-height: 22px; border: 1px solid #999; border-color: #999 #ddd #ddd #999; vertical-align: middle;}
input.w100{width: 100px;}

.submitbtn{ margin: 30px 0 30px 0;}
.a-link{width: 160px; height: 45px; line-height: 45px;font-size: 18px; background: #8EC20F; color: #fff; text-align: center; display: block; }

/*订单处理*/
.waybill{margin: 40px 0px;}
.waybill .waybill-left{width:460px;}
.waybill .waybill-right{width: 430px;}
table.waybill-info{border-collapse: collapse; border-spacing: 0; vertical-align: middle;}
table.waybill-info th{font-size: 16px; padding-bottom: 10px;}
table.waybill-info td{border: 1px solid #CCCCCC; padding: 5px 5px 5px 8px;}
table.waybill-info td.col1{width: 120px; text-align: right; background-color: #DFDFDF;}
table.waybill-info a,.order-status-box a{text-decoration: underline;}
.waybill .waybill-status{padding-top: 40px;}
.waybill .waybill-status p{padding: 8px 0px;}
.waybill .waybill-status .tbig{font-size: 18px;}
.waybill .other-link{margin-top: 70px;}

.order-status-box{ width: 500px; margin: 0 auto; padding: 80px 0px 120px 0px; text-align: center;}
.order-status-box .order-status{width:165px; margin: 0 auto 20px auto; font-size: 32px; padding-left: 55px; line-height: 45px; background: url(image/accept1.png) no-repeat left center;}

/*订单创建*/
#order_info{
  width: 700px;
  position: fixed;
  top: 150px;
  left: 405px;	
  display:none;
}

/* 验证页 */
.line-info img{height:20px;}
.section.second{display:none;}
.container .login{margin:auto;height: 350px;width:400px;line-height: 50px;padding-top:100px;}
.sarch-fahuo-btn{  background-color: #83c326;
  color: #FFFFFF;
  width: 90px;
  border: 0px;
  height: 28px;
  width: 101px;
  margin-top: 25px;}
  
  .posit{width: 100%;height: 12px;  margin-top: 10px;padding-top: 10px;}

.imgval {display: inline-block;height: 12px;margin-bottom: -4px;overflow: hidden;}
.imgval .imgtxt {display: block;height: 18px;margin-top: -2px;}