.m-btn-downarrow,
.s-btn-downarrow {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 1px;
  right: 0;
  top: 50%;
  margin-top: -8px;
}
.m-btn-active,
.s-btn-active {
  background: #E6E6E6;
  color: #444;
  border: 1px solid #ddd;
  filter: none;
}
.m-btn-plain-active,
.s-btn-plain-active {
  background: transparent;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.m-btn .l-btn-left .l-btn-text {
  margin-right: 20px;
}
.m-btn .l-btn-icon-right .l-btn-text {
  margin-right: 40px;
}
.m-btn .l-btn-icon-right .l-btn-icon {
  right: 20px;
}
.m-btn .l-btn-icon-top .l-btn-text {
  margin-right: 4px;
  margin-bottom: 14px;
}
.m-btn .l-btn-icon-bottom .l-btn-text {
  margin-right: 4px;
  margin-bottom: 34px;
}
.m-btn .l-btn-icon-bottom .l-btn-icon {
  top: auto;
  bottom: 20px;
}
.m-btn .l-btn-icon-top .m-btn-downarrow,
.m-btn .l-btn-icon-bottom .m-btn-downarrow {
  top: auto;
  bottom: 0px;
  left: 50%;
  margin-left: -8px;
}
.m-btn-line {
  display: inline-block;
  position: absolute;
  font-size: 1px;
  display: none;
}
.m-btn .l-btn-left .m-btn-line {
  right: 0;
  width: 16px;
  height: 500px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 0 0 0 1px;
}
.m-btn .l-btn-icon-top .m-btn-line,
.m-btn .l-btn-icon-bottom .m-btn-line {
  left: 0;
  bottom: 0;
  width: 500px;
  height: 16px;
  border-width: 1px 0 0 0;
}
.m-btn-large .l-btn-icon-right .l-btn-text {
  margin-right: 56px;
}
.m-btn-large .l-btn-icon-bottom .l-btn-text {
  margin-bottom: 50px;
}
.m-btn-downarrow,
.s-btn-downarrow {
  background: url('images/menu_arrows.png') no-repeat 0 center;
}
.m-btn-plain-active,
.s-btn-plain-active {
  border-color: #ddd;
  background-color: #E6E6E6;
  color: #444;
<<<<<<< HEAD
=======
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 1px;
    right: 0;
    top: 50%;
    margin-top: -8px;
}

.m-btn-active,
.s-btn-active {
    background: #E6E6E6;
    color: #444;
    border: 1px solid #ddd;
    filter: none;
}

.m-btn-plain-active,
.s-btn-plain-active {
    background: transparent;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.m-btn .l-btn-left .l-btn-text {
    margin-right: 20px;
}

.m-btn .l-btn-icon-right .l-btn-text {
    margin-right: 40px;
}

.m-btn .l-btn-icon-right .l-btn-icon {
    right: 20px;
}

.m-btn .l-btn-icon-top .l-btn-text {
    margin-right: 4px;
    margin-bottom: 14px;
}

.m-btn .l-btn-icon-bottom .l-btn-text {
    margin-right: 4px;
    margin-bottom: 34px;
}

.m-btn .l-btn-icon-bottom .l-btn-icon {
    top: auto;
    bottom: 20px;
}

.m-btn .l-btn-icon-top .m-btn-downarrow,
.m-btn .l-btn-icon-bottom .m-btn-downarrow {
    top: auto;
    bottom: 0px;
    left: 50%;
    margin-left: -8px;
}

.m-btn-line {
    display: inline-block;
    position: absolute;
    font-size: 1px;
    display: none;
}

.m-btn .l-btn-left .m-btn-line {
    right: 0;
    width: 16px;
    height: 500px;
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 0 0 0 1px;
}

.m-btn .l-btn-icon-top .m-btn-line,
.m-btn .l-btn-icon-bottom .m-btn-line {
    left: 0;
    bottom: 0;
    width: 500px;
    height: 16px;
    border-width: 1px 0 0 0;
}

.m-btn-large .l-btn-icon-right .l-btn-text {
    margin-right: 56px;
}

.m-btn-large .l-btn-icon-bottom .l-btn-text {
    margin-bottom: 50px;
}

.m-btn-downarrow,
.s-btn-downarrow {
    background: url('images/menu_arrows.png') no-repeat 0 center;
}

.m-btn-plain-active,
.s-btn-plain-active {
    border-color: #ddd;
    background-color: #E6E6E6;
    color: #444;
>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
}
