/* 20151008 物流公司详情页面架构重置 样式表 */
* {
    position: static;
}
em,i { font-style:normal;}
/*页脚*/
.footer { clear: both; position: relative; }

/*面包屑导航样式*/
.position { background-color: #FFF; border: 1px solid #EAEAEA; clear: both; height: 40px; line-height: 40px; margin: 0 auto; position: relative; width: 1198px; }

.position strong , .position span , .position a { color: #666; }

.position strong { font-weight: bold; padding: 0 5px 0 20px; }

.position span { padding: 0 3px; }

.position a:hover , .s-right dl.recommendation dd div h3 a:hover , .s-right dl.re-line dd a:hover , .com-decoration div.attention a:hover { color: #72B111; }

/*主要内容区域样式*/
.mian-wrapper { height: auto; margin: 15px auto; position: relative; width: 1200px; }

.c-left , .c-right { float: left; height:auto; }

/*公司详情页面左侧内容样式*/
.c-left { margin-right: 12px; width: 930px; }

.comName { border-bottom: 2px solid #72B111; color: #F60; font-size: 16px; font-weight: bold; height: 40px; letter-spacing: 1px; line-height: 40px; text-indent: 1em; width: 100%; }

.company-infor { background-color: #fff; border: #EAEAEA solid 1px; display: table; height:auto; position: relative; width: 928px; }

.com-decoration { border-right: 1px dotted #CCC; display: table-cell; *float: left; vertical-align: top; width: 246px; }

.com-decoration img { display: block; height: 60px; margin: 10px auto 5px auto; width: 180px; }
 
.com-decoration dl { padding: 0 15px; }
  
.com-decoration dl dt ,  .com-decoration dl dd { line-height: 20px; }
  
.com-decoration dl dt { color: #B78F74; font-weight: bold; height: 25px; text-align: center; }

.com-decoration dl dd  { margin-top: 10px; width: 100%; }
 
.com-decoration dl dd  span { color: #999; text-align: left; }

.com-decoration dl dd  span.lt { color: #666;  }

/*收藏分享区域样式*/
.com-decoration div.attention { height: 30px; line-height: 30px; padding: 10px 15px 0 15px; }

.com-decoration div.attention a , .com-decoration div.attention span , .com-decoration div.attention div.share { float: left; }

.com-decoration div.attention , .com-decoration div.attention a { color: #B1B1B1; }

.com-decoration div.attention span { padding: 0 5px; }

/*认证图标样式*/
i.icon-cheng , i.icon-zheng , i.icon-jian , i.icon-abc { border-radius: 3px; color: #fff; padding: 2px 4px; margin-left: 5px; }

i.icon-cheng { background-color: #f3ab01; }

i.icon-zheng { background-color: #f87e7e; }

i.icon-jian { background-color: #5fb46f; }

i.icon-abc { background-color: #7cafe4; }


/*成交评论统计&资质信息&信息更新时间*/
.credit { display: table-cell; *float: left; vertical-align: top; width: 681px;  }

.credit div.order { height: 40px; line-height: 40px; margin-top: 15px; padding: 0 15px; }

.credit div.order a { background-color: #72B111; color: #fff; font-size: 14px; margin-right: 15px; padding: 8px 15px; }

.credit div.order a b , .value-add b { font-weight: bold; }

.credit ul { display: block; padding: 15px; }

.credit ul li { border-color: #eaeaea #eaeaea #fff #eaeaea; border-style:solid; border-width: 1px; display: inline; float: left; height: 36px; line-height: 36px; margin-left: -1px; *margin-top: -15px; width: 324px; }

.credit ul li.lastbli { border-bottom-color: #eaeaea;}

.credit ul li b { background-color: #F7F7F7; color: #666; display: block; float: left; font-weight: bold; padding-right: 15px; text-align: right; width: 150px; }

.credit ul li span { color: #F60; display: block; float: left; padding-left: 10px; }

.credit div.update-time { bottom: 0; clear: both; color: #ccc; height: 30px; line-height: 30px; padding: 0 15px; text-align: right; position: absolute; right: 0; width: 651px; }

.value-add { background-color: #fff; border: #EAEAEA solid; border-width: 0 1px 1px; clear: both; height: 46px; line-height: 46px; padding-left: 15px; width: 913px; }

.value-add span.service_add { background: url("../images/icon_right.jpg") no-repeat; margin-right: 5px; padding: 1px 18px; }

/*====================================内容切换样式====================================*/
.company-tab { margin-top: 20px; }

.tab-content { padding: 20px; }

.company-order { background-color: #fff; border: #EAEAEA solid 1px; margin-top: -1px; padding: 20px; position: relative; z-index: 0; }

/*货运时刻表&成交订单列表样式*/
dl.orderList , dl.timeList { height:auto; width: 100%; }

dl.orderList dt , dl.orderList dd ,
dl.timeList dt , dl.timeList dd { width: 100%; }

dl.orderList span , dl.orderList label , 
dl.timeList span , dl.timeList label { display: block; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

dl.orderList span , dl.orderList label { width: 222px; }

dl.timeList label { width: 288px; }

dl.timeList span { width: 150px; }

dl.timeList span , dl.orderList span { text-align: center; }

dl.orderList span.fhr { text-align: left; }

dl.orderList dt , dl.timeList dt{ border-bottom: #dedede solid 1px; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; }

dl.orderList dd , dl.timeList dd { border-bottom: #eee dotted 1px; color: #999; height: 36px; line-height: 36px; }

dl.orderList label a , dl.timeList label a { color: #F60; }

/*企业展示图片轮换区域*/
.v_out{  height: 502px; margin: 20px auto; overflow: hidden; position: relative; width: 650px; }

.v_show{ float:left; height:400px; margin: 0 24px; overflow:hidden; position: relative; width:600px;}

.v_cont{ left: 0; position:absolute; top: 0; width: 60000px;}

.v_cont ul li{ display: inline; float: left; height: 400px; width: 600px; }

.v_out_p{ position:relative; overflow:visible; }

.circle{ background-color: #F6F6F6; bottom: 0; height: 84px; left: 0; padding: 5px 0 5px 5px; position:absolute; width: 645px; }

.circle li { border: #fff solid 2px; cursor: pointer; float: left; height:80px; width:120px; margin-right: 5px; }

.circle .circle-cur{ border: #72B111 solid 2px; }

.v_out div.prev , .v_out div.next{ position: absolute; top: 0; }

.v_out div.prev { left: 0; } .v_out div.next { right: 1px; }

.v_out div.prev , .v_out div.next { padding: 177px 0; height:46px; width:22px; }

.v_out div.prev a , .v_out div.next a{ background-color: #F6F6F6; display:block; height:46px; width:22px; }

.v_out div.prev a , .v_out div.next a { background: url(../images/page_button.gif) no-repeat; }

.v_out div.prev a { background-position: 0 0; }

.v_out div.next a { background-position: -69px 0; }

.v_out div.prev a:hover { background-position: 0 -47px; }

.v_out div.next a:hover { background-position: -69px -47px; }

/*地理位置图样式*/
.company-adds { margin: 10px 0; }

/*成交订单*/
.transaction { height: 37px; margin-top: 20px; position: relative; width: 100%; z-index: 1;   }

.transaction span { background-color: #fff; border-color: #72B111 #EAEAEA #EAEAEA; border-style: solid; border-width: 1px 1px 0 1px; display: inline-block; font-weight: bold; color: #666; height: 36px; line-height: 36px; padding: 0 30px; width: auto; }

/*公司详情页面右侧内容样式*/
.c-right { padding-top: 40px; width: 258px; }


/*广告位*/
.ads { height: auto; width: 100%; }

/*优势线路样式*/
.advantage-line { background-color: #fff; border: solid 1px; border-color: #72B111 #EAEAEA #EAEAEA #EAEAEA; margin-top: 20px; overflow: hidden; padding: 0 10px 9px 10px; width: 236px; }

.advantage-line dt { border-bottom: #dedede dotted 1px; color: #666; font-weight: bold; height: 36px; line-height: 36px; width: 100%; }

.advantage-line dd { border-bottom: #ccc dotted 1px; height: 82px; margin: 5px 0; width: 100%; }

.advantage-line dd h2 { font-weight: bold; height: 30px; line-height: 30px; overflow: hidden; text-overflow: ellipsis; width: 100%; }

.advantage-line dd h2 span { background-color: #FF7A19; border: 1px solid #FF7A19; border-radius: 50%; color: #FFF; display: block; float: left; font-size: 12px; font-weight: 400; 
								height: 18px; line-height: 18px; margin-right: 6px; margin-top: 5px; text-align: center; width: 18px; }
								
.line-col1 { float: left; height: 52px; width: 126px; }	

.line-col1 p{ clear: both; display: block; height: 26px; line-height: 26px; width: 100%; }	

.line-col1 p span , .line-col1 p em , .line-col1 p i { display: block; float: left; }

.line-col1 p span { border-radius: 50%; font-size: 12px; font-weight: 400; height: 18px; line-height: 18px; margin-right: 6px; margin-top: 3px; text-align: center; width: 18px; }
					
.line-col1 p em , .line-col1 p i { color: #999; padding-right: 3px; }

.line-col1 p span.txt-start {  border: 1px solid #01793B; color: #01793B; }
  
.line-col1 p span.txt-end { border: 1px solid #72B111; color: #72B111; }		
 
.line-col2 { color: #999; float: left; line-height: 26px; text-align: center; width: 76px; }
 
.line-col2 p em { color: #FF7A19; }	
 
.line-col3 { float: right; height: 52px; line-height: 52px; text-align: center; width: 40px; }


/*翻页样式*/
.page { clear: both; }

/*===============================================================路线详情样式===============================================================*/
.lineName { border-bottom: 2px solid #72B111; color: #F60; height: 40px; letter-spacing: 1px; line-height: 40px; text-indent: 1em; width: 100%; }

.line-infor { display: table-cell; *float: left; padding: 15px; vertical-align: top; width: 651px;  }

.value-add label , .notice label { margin-right: 20px; }

.value-add input { vertical-align: middle; }

.notice { background-color: #fff; border: #EAEAEA solid; border-width: 0 1px 1px; clear: both; height: 46px; line-height: 46px; padding-left: 15px; width: 913px; }

.notice b { font-weight: bold; }

.notice label input , .notice label img { vertical-align: middle; margin-right: 5px; }

/*路线发布时间&浏览次数&收藏&分享*/
.line-update { height: 27px; line-height: 27px; width: 651px; }

.line-update span.time , .line-update span.browse-num , .line-update a.sc-btn { float: left; margin-right: 10px; padding-left: 22px; }

.line-update span.time { background:url(../images/icon_time.jpg) left center no-repeat; }

.line-update span.browse-num { background:url(../images/icon_people.jpg) left center no-repeat; }

.line-update a.sc-btn { background:url(../images/icon_collect.png) left center no-repeat; }

.line-update div.share { float: right; }

/*发车时刻表*/
ul.timeTable { border-top: 1px solid #EAEAEA; height: auto; margin-top: 10px; width: 651px; }

ul.timeTable li { border: solid #EAEAEA; border-width: 0 1px 1px; height: 42px; line-height: 42px; width: 649px; }

ul.timeTable li label , ul.timeTable span { color: #676767; display: block; float: left; }

ul.timeTable li label { background-color: #f7f7f7; border-right: #eaeaea solid 1px; font-weight:bold; text-align: center; width: 119px; }

ul.timeTable span { padding-left: 10px; }

ul.timeTable span b { color: #f60; font-size: 14px; font-weight: bold; }

ul.timeTable span b , ul.timeTable span i { padding: 0 10px; }

ul.l1 li em { color: #f60; padding-left: 10px; }

/*重货轻货阶梯价弹出层样式*/
li.item a dl ,li.item a.a_mouseout dl { display: none; }

li.item a.a_mouseover { position: relative; }

li.item a.a_mouseover dl { background-color: #fff; border: #dedede solid; border-width: 1px 1px 0 1px; display: block; left: 50%; margin-left: -125px; position: absolute; top: 14px; width: 250px; }

li.item a.a_mouseover dl dt , li.item a.a_mouseover dl dd { border-bottom: #dedede solid 1px; height: 30px; line-height: 30px; width: 100%; }

li.item a.a_mouseover dl dt { font-size: 14px; font-weight: bold; text-align: center; }

li.item a.a_mouseover dl dd , li.item a.a_mouseover dl dd span { color: #999; font-size: 13px; }

li.item a.a_mouseover dl dd span , li.item a.a_mouseover dl dd label { display: block; float: left; height: 30px; line-height: 30px; padding: 0 10px; text-align: center; width: 104px; }

li.item a.a_mouseover dl dd span { border-right: #dedede solid 1px; }

li.item a.a_mouseover dl dd b { color: #F60; font-weight: bold; }

/*发货按钮*/
a.fah-btn { background-color: #f60; color: #fff; display: block; font-size:14px; height:29px; line-height:29px; margin-top: 5px; text-align: center; width:100px; }

a.fah-btn:hover { background-color: #FF7A19; }

.map  { width:890px; height:430px; overflow:hidden; border-right:1px solid #dcdcdc;}
.map_action { width:130px; height:355px; float:right; padding:15px;}
.map_action h3 { color:#333; font-size:16px; line-height:40px}
.map_action p { font-size:14px; color:#7a7a7a; line-height:30px}
.map_action p input { margin-right:8px;}

