.passwordbox-open {
<<<<<<< HEAD
  background: url('images/passwordbox_open.png') no-repeat center center;
}
.passwordbox-close {
  background: url('images/passwordbox_close.png') no-repeat center center;
=======
    background: url('images/passwordbox_open.png') no-repeat center center;
}

.passwordbox-close {
    background: url('images/passwordbox_close.png') no-repeat center center;
>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
}
