.propertygrid .datagrid-view1 .datagrid-body td {
<<<<<<< HEAD
  padding-bottom: 1px;
  border-width: 0 1px 0 0;
}
.propertygrid .datagrid-group {
  height: 21px;
  overflow: hidden;
  border-width: 0 0 1px 0;
  border-style: solid;
}
.propertygrid .datagrid-group span {
  font-weight: bold;
}
.propertygrid .datagrid-view1 .datagrid-body td {
  border-color: #eee;
}
.propertygrid .datagrid-view1 .datagrid-group {
  border-color: #f5f5f5;
}
.propertygrid .datagrid-view2 .datagrid-group {
  border-color: #eee;
}
=======
    padding-bottom: 1px;
    border-width: 0 1px 0 0;
}

.propertygrid .datagrid-group {
    height: 21px;
    overflow: hidden;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.propertygrid .datagrid-group span {
    font-weight: bold;
}

.propertygrid .datagrid-view1 .datagrid-body td {
    border-color: #eee;
}

.propertygrid .datagrid-view1 .datagrid-group {
    border-color: #f5f5f5;
}

.propertygrid .datagrid-view2 .datagrid-group {
    border-color: #eee;
}

>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
.propertygrid .datagrid-group,
.propertygrid .datagrid-view1 .datagrid-body,
.propertygrid .datagrid-view1 .datagrid-row-over,
.propertygrid .datagrid-view1 .datagrid-row-selected {
<<<<<<< HEAD
  background: #f5f5f5;
=======
    background: #f5f5f5;
>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
}
