.tagbox {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
  cursor: text;
}
.tagbox .textbox-text {
  float: left;
}
.tagbox-label {
  position: relative;
  display: block;
  margin: 4px 0 0 4px;
  padding: 0 20px 0 4px;
  float: left;
  vertical-align: top;
  text-decoration: none;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background: #eee;
  color: #404040;
}
.tagbox-remove {
  background: url('images/tagbox_icons.png') no-repeat -16px center;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  right: 2px;
  top: 50%;
  margin-top: -8px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.tagbox-remove:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.textbox-disabled .tagbox-label {
  cursor: default;
}
.textbox-disabled .tagbox-remove:hover {
  cursor: default;
  opacity: 0.6;
  filter: alpha(opacity=60);
<<<<<<< HEAD
=======
    cursor: text;
}

.tagbox .textbox-text {
    float: left;
}

.tagbox-label {
    position: relative;
    display: block;
    margin: 4px 0 0 4px;
    padding: 0 20px 0 4px;
    float: left;
    vertical-align: top;
    text-decoration: none;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background: #eee;
    color: #404040;
}

.tagbox-remove {
    background: url('images/tagbox_icons.png') no-repeat -16px center;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    margin-top: -8px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.tagbox-remove:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.textbox-disabled .tagbox-label {
    cursor: default;
}

.textbox-disabled .tagbox-remove:hover {
    cursor: default;
    opacity: 0.6;
    filter: alpha(opacity=60);
>>>>>>> 6f52d5ba06d475efef117561f74d26b3f4345452
=======
>>>>>>> 5015bc2c1aab6efba5f481d960db7d224786927d
}
